<div class="borderBox light bordered card-box">
  <div class="tab-pane active fontawesome-demo" >
    <div class="row">
      <div class="col-md-12">
        <div class="card card-box">
          <div class="card-head">
        <header>All Exquisites & Internals Feasibility</header>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="col-2 col-lg-12" >
                  <form class="navbar-form navbar-left" method="GET" role="search" >
                    <div class="input-group" >
                      <input type="text" class="form-control"  placeholder="Enter Project Name..." >
                      <span class="input-group-btn">
		              					<button class="btn submit"><i class="icon-magnifier"></i></button></span>
                    </div>
                  </form>
                </div>
              </li>
            </ul>

      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-6">
            <div class="btn-group" routerLink="/exquise">
              <button  class="btn btn-info" >
                Add New <i class="fa fa-plus"  ></i>
              </button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-6">
            <div class="btn-group pull-right">
              <button class="btn deepPink-bgcolor  btn-outline dropdown-toggle"
                      data-toggle="dropdown"><i class="fa fa-chain-broken"></i> <i></i>Tools
                <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-print"></i> Print </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="table-scrollable">
          <table
            class="table table-striped table-bordered table-hover table-checkable order-column"
            id="example4">
            <thead>
            <tr>
              <th>
                <label class="rt-chkbox rt-chkbox-single rt-chkbox-outline">
                  <input type="checkbox" class="group-checkable"
                         data-set="#sample_1 .checkboxes" />
                  <span></span>
                </label>
              </th>
              <th class="text-center"> N°Document </th>
              <th class="text-center"> Customer </th>
              <th class="text-center"> Project </th>
              <th class="text-center"> RFQ </th>
              <th class="text-center"> N°Offer</th>
              <th class="text-center"> Joining Date </th>
              <th class="text-center"> Traceability </th>
              <th class="text-center"> Actions </th>
            </tr>
            </thead>
            <tbody>

            <tr class="odd gradeX"  *ngFor="let e of listExquise">
              <td>
                <label class="rt-chkbox rt-chkbox-single rt-chkbox-outline">
                  <input type="checkbox" class="checkboxes" value="1" />
                  <span></span>
                </label>
              </td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center">
                <button class="btn btn-success btn-xs">
                  <i class="fa fa-home"></i>
                </button>
                <button class="btn btn-primary btn-xs">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger btn-xs">
                  <i class="fa fa-trash-o "></i>
                </button>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>

