
<div class="col">
  <nav>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Select Customer</h3>
        <select id="country-select2" class="form-control" style=" width: 100%">
          <option></option>
          <option>Sagem</option>
          <option>Valeo</option>
          <option>hutchinson</option>

        </select>
      </div>
      <div class="panel-body">
        <table class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr >
            <th>#</th>
            <th>Name Project</th>
            <th>Description</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
          </tr>
          </thead>
          <tbody id ="accordion" class="accordion-group">
          <tr class="info">
            <td data-toggle="collapse" data-target="#demo1" class="accordion-toggle" data-parent="#accordion">1</td>
            <td data-toggle="collapse" data-target="#demo22" class="accordion-toggle" data-parent="#accordion">05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$150.00</td>
            <td class="text-error"></td>
            <td class="text-success">$150.00</td>
          </tr>

          <tr >
            <td colspan="6" class="hiddenRow">
              <div class=" accordian-body collapse" id="demo1"> Quotation 1 </div>
              <div class="accordian-body collapse" id="demo22"> Quotation 2 </div>
            </td>
          </tr>
          <tr>
            <th >

              <a href="#" class="avatar rounded-circle mr-3">
                <img alt="Image placeholder" src="../../assets/img/un.png">
              </a>

            </th>

          </tr>

          </tbody>
          <tbody>
          <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle" class="info">
            <td>2</td>
            <td>05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$11.00</td>
            <td class="text-error"></td>
            <td class="text-success">$161.00</td>
          </tr>
          <tr>
            <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
          </tr>
          <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle" class="info">
            <td>3</td>
            <td>05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$500.00</td>
            <td class="text-error"></td>
            <td class="text-success">$661.00</td>
          </tr>
          <tr>
            <td colspan="6"  class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo3</div></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer py-4">
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">
              <i class="fas fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fas fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>






</div>

















