
<div class="form-group col-md-12">
      <div class="card edit-parameters btn-bordered-primary"  style="background:#fff;color:#0f1113;width:100%;right: 14px">
        <div class="card-header" style="color:#428bca">
          <div class="form-group multiple-form-group input-group">
            <div class="input-group-btn input-group-select">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                <span class="concept" for="country-select2">Select customer</span>
              </button>
            </div>
            <select id="country-select2" class="form-control">
              <option></option>
            </select>
          </div>
        </div>
        <div class="card-header" style="color:#428bca">
          <div class="form-group multiple-form-group input-group">
            <div class="input-group-btn input-group-select">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="concept">Select N° Project</span>
              </button>
            </div>
            <select  class="form-control">
              <option></option>
            </select>
          </div>
        </div>
        <div class="card-header" style="color:#428bca">
          <div class="form-group multiple-form-group input-group">
            <div class="input-group-btn input-group-select">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="concept">Select N° Quotation</span>
              </button>
            </div>
            <select class="form-control" >
              <option></option>
            </select>
          </div>
        </div>
        <div class="card-header" style="color:#428bca">
          <div class="form-group multiple-form-group input-group">
            <div class="input-group-btn input-group-select">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                <span class="concept">Select N° Price </span>
              </button>
            </div>
            <select class="form-control">
              <option></option>
            </select>
          </div>
        </div>

        <div class="card-header" style="color:#428bca">
          <a routerLink="/ajoutQuotMoule" class="btn btn-primary btn-sm  pull-right"><b>+</b> Add new quotation mold</a>
        </div>
        <div class="card-body ">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">N° Quotation Document</th>
              <th scope="col">N° Quotation Mold</th>
              <th scope="col">Date</th>
              <th scope="col">Customer</th>
              <th scope="col">Project</th>
              <th scope="col" >Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a class='btn btn-success btn-xs'><span class="glyphicon glyphicon-home"></span> </a>
                <a class='btn btn-primary btn-xs'><span class="glyphicon glyphicon-edit"></span> </a>
                <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> </a>
              </td>
            </tr>
            </tbody>
          </table>



        </div>
      </div>

</div>
