
<nav class="navbar navbar-expand-lg navbar-light"style="background-color:  #fbfbfb;">

  <span class="logo"><img src="../../assets/img/main-logo.png" alt=""></span>
  <div class="col-md-8">
    <div class="card-body">
      <h1 class="name " style="color: #2154cf ; letter-spacing: 2px ;float: right;margin-right: 35%; padding:5px ;" >
        Internal Quotation
      </h1>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-lg-9 col-md-12">
      <input class="mdl-textfield__input" type="text" placeholder="Date " >
    </div>

    <div class="col-lg-9 col-md-12">
      <input class="mdl-textfield__input" type="text"  placeholder="Offer N°">
    </div>
    <div class="col-lg-9 col-md-12">
      <input class="mdl-textfield__input" type="text" placeholder="DOC N°">
    </div>
  </div>



</nav>

<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Project Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contractuel Information </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="trois-tab" data-toggle="tab" href="#trois" role="tab" aria-controls="trois" aria-selected="false">Quantity Information & lifetime Forecasts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="quatre-tab" data-toggle="tab" href="#quatre" role="tab" aria-controls="quatre" aria-selected="false">Parts Technical Information</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">

    <div class="panel panel-default clearfix">

      <div class="col-xs-12 toggle-header">
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Customer</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Segment</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">RFQ Site</span>

        </div>
        <div class="col-xs-2 text-center">
          <span class="hidden-xs">Customer RFQ N°</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">RFQ Date</span>

        </div>
        <div class="col-xs-2 text-center">
          <span class="hidden-xs">Project</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Buyer</span>

        </div>
        <div class="col-xs-2 text-center">
          <span class="hidden-xs">Delivery Adress</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Incoterm</span>

        </div>
      </div>

      <div  class="collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-1 text-center" >
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-2 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-2 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-2 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="tab-pane fade show text-align form-new" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="panel panel-default clearfix">


      <div class="col-xs-12 toggle-header">
        <div class="col-xs-4 text-center">
          <span class="hidden-xs">Business Link / Participation (% of TO)</span>

        </div>
        <div class="col-xs-3 text-center">
          <span class="hidden-xs">LTA</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+1</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+2</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+3</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+4</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+5</span>

        </div>

      </div>

      <div  class="collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-3 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="tab-pane fade show text-align form-new" id="trois" role="tabpanel" aria-labelledby="trois-tab">
    <div class="panel panel-default clearfix">


      <div class="col-xs-12 toggle-header">
        <div class="col-xs-3 text-center">
          <span class="hidden-xs">Annual Quantity</span>

        </div>
        <div class="col-xs-3 text-center">
          <span class="hidden-xs">Project duration (years)</span>

        </div>
        <div class="col-xs-3 text-center">
          <span class="hidden-xs">Lifetime volume</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+1</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+2</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+3</span>

        </div>

      </div>

      <div  class="collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-3 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-3 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>

          </div>
        </div>

      </div>


      <div class="col-xs-12 toggle-header">
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+4</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+5</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+6</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+7</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+8</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">SOP+9</span>

        </div>
        <div class="col-xs-3 text-center">
          <span class="hidden-xs">Minimum Production Quantity</span>

        </div>
        <div class="col-xs-3 text-center">
          <span class="hidden-xs">Minimum Order Quantity</span>

        </div>
      </div>

      <div  class="collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-3 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-3 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="tab-pane fade show text-align form-new" id="quatre" role="tabpanel" aria-labelledby="quatre-tab">
    <div class="panel panel-default clearfix">


      <div class="col-xs-12 toggle-header">
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">2D Number</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">3D Number</span>

        </div>
        <div class="col-xs-2 text-center">
          <span class="hidden-xs">Part description</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Photo</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Part Name</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Part Number</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Lenght ( L) </span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">weidth (L)</span>

        </div>
        <div class="col-xs-1 text-center">
          <span class="hidden-xs">Hauteur</span>

        </div>
        <div class="col-xs-2 text-center">
          <span class="hidden-xs">Parts Surfacic Volume</span>

        </div>
      </div>

      <div  class="collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-1 text-center" >
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-2 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
            <div class="col-xs-1 text-center">
              <input class="mdl-textfield__input" type="text" >
            </div>
            <div class="col-xs-2 text-center">
              <input class="mdl-textfield__input" type="text" >

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="row" >

  <div class="col-xs-12 ">
    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-mat-tab" data-toggle="tab" href="#nav-mat" role="tab" aria-controls="nav-mat" aria-selected="true">1.MATERIAL</a>
        <a class="nav-item nav-link" id="nav-pur-tab" data-toggle="tab" href="#nav-pur" role="tab" aria-controls="nav-pur" aria-selected="false">2.PURCHASING</a>
        <a class="nav-item nav-link" id="nav-pro-tab" data-toggle="tab" href="#nav-pro" role="tab" aria-controls="nav-pro" aria-selected="false">3.PROCESS COST</a>
        <a class="nav-item nav-link" id="nav-energie-tab" data-toggle="tab" href="#nav-energie" role="tab" aria-controls="nav-energie" aria-selected="false">4.ENERGIE COST</a>
        <a class="nav-item nav-link" id="nav-rem-tab" data-toggle="tab" href="#nav-rem" role="tab" aria-controls="nav-rem" aria-selected="false">5.PART PRICE</a>
        <a class="nav-item nav-link" id="nav-add-tab" data-toggle="tab" href="#nav-add" role="tab" aria-controls="nav-add" aria-selected="false">6.ADDITIONNAL COSTS</a>
        <a class="nav-item nav-link" id="nav-tot-tab" data-toggle="tab" href="#nav-tot" role="tab" aria-controls="nav-tot" aria-selected="false">7.TOTAL PRICE AT</a>
        <a class="nav-item nav-link" id="nav-quo-tab" data-toggle="tab" href="#nav-quo" role="tab" aria-controls="nav-quo" aria-selected="false">8.TOOLS QUOTATION</a>

      </div>
    </nav>

    <div class="tab-content py-5 px-5 px-sm-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-mat" role="tabpanel" aria-labelledby="nav-mat-tab">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="table-scrollable">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Raw Material Family</th>
                  <th>Raw Material Description</th>
                  <th>Supplier</th>
                  <th>Incoterm</th>
                  <th>Sales Price </th>
                  <th>Part Name </th>
                  <th>Transport</th>
                  <th>Delivered Material Cost</th>
                  <th>Handling</th>
                  <th>Volum According To DFN Or To 2D If Noted </th>
                  <th>Density (gr/cm³)</th>
                  <th>Net Weight</th>
                  <th>Estimated Sprue (the drawing of estimation must be done and registred in FIN-01) Volum cm³</th>
                  <th>Estimated Sprue (gr)</th>
                  <th>Regrind (Yes/No)</th>
                  <th>% Of Sprue autorized to be reused in the Gross weight ; should be noted in 2D; or confirmed by customer; if it is a proposition it should be indicated in the offer</th>
                  <th>Injected Weight</th>
                  <th>Sprue Reused</th>
                  <th>Sprue Rejected</th>
                  <th>Scrap </th>
                  <th>Gross Weight</th>
                  <th>% Of Material in part without MB</th>
                  <th>Material weight for calculation</th>
                  <th>Batch Prod Qtt Material (kg)</th>
                  <th>Annual purchasing volum (Kg)</th>
                  <th>Netto </th>
                  <th>Rate (€) </th>
                  <th>%Netto   </th>
                  <th>Parts/assy </th>
                  <th>Pressure</th>
                  <th>Length</th>
                  <th>Width</th>
                  <th>Thikness</th>
                  <th>Ray</th>
                  <th>Section</th>
                  <th>Long</th>
                  <th>Clamping force</th>
                  <th>Material costs/unit</th>



                </tr>
                </thead>
                <tbody>
                <tr>
                  <td rowspan="1">
                    <select class="form-control  select2">
                      <option value="AK">F1</option>
                      <option value="HI">F2</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control  select2">
                      <option value="AK">M1</option>
                      <option value="HI">M2</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control  select2">
                      <option value="AK">D1</option>
                      <option value="HI">D2</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td>
                    <select class="form-control  select2">
                      <option value="AK">P1</option>
                      <option value="HI">P2</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control  select2">
                      <option value="AK">s1</option>
                      <option value="HI">s2</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder=""></td>
                  <td><input type="text" class="form-control " placeholder=""></td>
                  <td><input type="text" class="form-control " placeholder=""></td>
                  <td><input type="text" class="form-control " placeholder=""></td>
                  <td>
                    <select class="form-control  select2">
                      <option value="AK">s1</option>
                      <option value="HI">s2</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td>
                    <select class="form-control  select2">
                      <option value="AK">s1</option>
                      <option value="HI">s2</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>

                </tr>

                <tr >
                  <th  style="background: #ddd;">TOTAL MATERIAL</th>
                  <td colspan="36" style="background: #ddd"></td>
                  <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-pur" role="tabpanel" aria-labelledby="nav-pur-tab">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="table-scrollable">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Material Description</th>
                  <th>Specification</th>
                  <th>Supplier</th>
                  <th>Part Name</th>
                  <th>Gross</th>
                  <th>Netto</th>
                  <th>Rate (€)</th>
                  <th>Transport</th>
                  <th>Scrap % </th>
                  <th>Handling%</th>
                  <th>%Netto </th>
                  <th>Parts/assy</th>
                  <th>Inserts Cost </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td rowspan="1"><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>

                </tr>

                <tr >
                  <th  style="background: #ddd;">TOTAL INSERT</th>
                  <td colspan="11" style="background: #ddd"></td>
                  <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                </tr>



                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-pro" role="tabpanel" aria-labelledby="nav-pro-tab">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="table-scrollable">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>OPERATION</th>
                  <th>Machine type </th>
                  <th>Machine Rate</th>
                  <th>Parts / cycle</th>
                  <th>Cycle Time</th>
                  <th>Parts per Hour</th>
                  <th>Nº Heads</th>
                  <th>Direct Labor Rate/ hour (EUR)</th>
                  <th>Scrap  %</th>
                  <th>Machine Costs</th>
                  <th>Labor Costs</th>
                  <th>Parts per Assy</th>
                  <th>TRS</th>
                  <th>Capacity ( parts /year)</th>
                  <th>Weekly capacity (6 days)</th>
                  <th>Monthly capacity</th>
                  <th>Annual capacity</th>
                  <th>Machine occupancy days</th>
                  <th>Annual Occupancy (Hours)</th>
                  <th>Annual machine occupancy</th>
                  <th>COST</th>
                  <th>Starting Costs / Process</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td ><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>

                <tr >
                  <th  style="background: #ddd;">Number of process</th>
                  <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>

                  <th></th>
                  <th  style="background: #ddd;">production minimum quantity</th>
                  <td colspan="11" style="background: #ddd"></td>
                  <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                </tr>



                <tr>
                  <td>TOTAL PROCESS</td>
                </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-energie" role="tabpanel" aria-labelledby="nav-energie-tab">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="table-scrollable">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>OPERATION</th>
                  <th>Energy Rate</th>
                  <th>Parts / cycle</th>
                  <th>Parts per Hour</th>
                  <th>Scrap  %</th>
                  <th>CT</th>
                  <th>Parts per Assy</th>
                  <th>Energy costs</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                <tr>
                  <td>TOTAL ENERGY</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-rem" role="tabpanel" aria-labelledby="nav-rem-tab">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="table-scrollable">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>WORKS PART PRICE</th>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-add" role="tabpanel" aria-labelledby="nav-add-tab">
        <div class="row">



          <div class="col-md-12 col-sm-12">
            <a class="btn btn-sm btn-primary"  routerLink="/ajouteC"><i class="fa fa-plus"></i>Add Disposable packaging</a>
            <div class="table-scrollable">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th> </th>
                  <th>TOTAL</th>
                  <th>PACKAGING</th>
                  <th>WAREHOUSE</th>
                  <th>TRANSPORT</th>
                  <th>Frequency</th>
                  <th>Box type</th>
                  <th>Box Dim</th>
                  <th>Parts/Box</th>
                  <th>Boxes/pallet</th>
                  <th>Nbr parts/ Palette</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td rowspan="2"><input type="text" class="form-control " placeholder="Customer"></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-tot" role="tabpanel" aria-labelledby="nav-tot-tab">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="table-scrollable">
              <table class="table table-bordered">
                <thead>
                <tr>

                  <th>Plant Deliver To</th>
                  <th>€</th>
                  <th>Incoterm</th>
                  <th>MOQ parts</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                  <td><input type="text" class="form-control " placeholder="..."></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-quo" role="tabpanel" aria-labelledby="nav-quo-tab">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="panel panel-default clearfix">
              <div class="panel-heading">
                <h4 class="panel-title">Part Description</h4>
              </div>
              <div class="table-scrollable">
                <table class="table table-bordered">
                  <thead>
                  <tr>

                    <th>Photo</th>
                    <th>Part name</th>
                    <th>Part number</th>
                    <th>Net weight (g)</th>
                    <th>Dimension (mm)</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default clearfix">
              <div class="panel-heading">
                <h4 class="panel-title">Technical Description</h4>
              </div>
              <div class="table-scrollable">
                <table class="table table-bordered">
                  <thead>
                  <tr>

                    <th>Number of cavities</th>
                    <th>Hot runner</th>
                    <th>Injection type</th>
                    <th>Mold dimension</th>
                    <th>Temperature sensor</th>
                    <th>Pression sensor per cavity</th>
                    <th>Steel CAV./CORE</th>
                    <th>Steel Base</th>
                    <th>Annual capacity (parts)</th>
                    <th>Injection machine type</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default clearfix">
              <div class="panel-heading">
                <h4 class="panel-title">Development</h4>
              </div>
              <div class="table-scrollable">
                <table class="table table-bordered">
                  <thead>
                  <tr>

                    <th>Number of tunning estimated</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td> <input  name="name" type="text" placeholder="" class="form-control input-md" required=""></td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default clearfix">
              <div class="panel-heading">
                <h4 class="panel-title">Costs</h4>
              </div>
              <div class="table-scrollable">
                <table class="table table-bordered">
                  <thead>
                  <tr>

                    <th>Toolmaker</th>
                    <th>Mold and tunning</th>
                    <th>Trial</th>
                    <th>Sensors</th>
                    <th>Spare parts & specific traitement</th>
                    <th>Quality tools</th>
                    <th>Metrology and capability </th>
                    <th>Shipment</th>
                    <th>Project monotoring</th>
                    <th>Rheology</th>
                    <th>Hand Robot</th>
                    <th>Total </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default clearfix">
              <div class="panel-heading">
                <h4 class="panel-title">Warranty</h4>
              </div>
              <div class="table-scrollable">
                <table class="table table-bordered">
                  <thead>
                  <tr>

                    <th>Number of Injection</th>


                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" class="form-control " placeholder="..."></td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default clearfix">
              <div class="panel-heading">
                <h4 class="panel-title">Macro Planning (Weeks) </h4>
              </div>
              <div class="table-scrollable">
                <table class="table table-bordered">
                  <thead>
                  <tr>

                    <th>From Order receipt => FOT (Study & mold make)</th>
                    <th>Tunning + Validation of the transfert=> IS for validation </th>
                    <th>Total : from Order receipt to IS</th>
                    <th>Customer validation (Estimated)</th>
                    <th>Go for production (Estimated)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                    <td><input type="text" class="form-control " placeholder="..."></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <a class="box-btn" style="float: right;margin-right: 0%;">Save</a>
  </div>

</div>



