

<header style="background: #fbfbfb;">



  <div class="row">
    <div class="col-xl-12 ">
      <div class="section-title text-center">
        <p>Material Reference</p>
        <h4>PA 12 GRILAMID TR55</h4>
      </div>
    </div>
  </div>

</header>





<div class="row">
  <div class="col-md-12">


      <div class="panel checkout-step">
        <div id="collapseOne" class="collapse in">

          <div class="row menu_style1">
            <div class="col-md-4">
              <div class="single_menu_list">
                <div class="menu_content">
                  <h4>Supplier </h4>
                  <h5>MISTA</h5>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">
                <div class="menu_content">
                  <h4>Silver Code </h4>
                  <h5>A114399</h5>
                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">
                <div class="menu_content">
                  <h4>Density  <span>xg/c3</span></h4>
                  <h5>1.1</h5>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Automotive Material </h4>
                  <h5>.....................</h5>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Purchasing Quantity  </h4>
                  <h5>20</h5>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Ordered Quantity  </h4>
                  <h5>...................</h5>
                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Incoterm  </h4>
                  <h5>...............</h5>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Actual Purchasing Price </h4>
                  <h5>15.636</h5>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Sales Price </h4>
                  <h5>............</h5>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Load</h4>
                  <h5>Talc</h5>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Percentage Of Load <span>%</span></h4>
                  <h5>35</h5>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_menu_list">

                <div class="menu_content">
                  <h4>Material Pressure </h4>
                  <h5>..........</h5>

                  <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>



