

<nav class="navbar navbar-default navbar-static-top">
  <div id="invoice">

    <div class="invoice overflow-auto">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
      <header>
        <div class="container-fluid">

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <div class="btn-compose pull-left" style="float: left;margin-left: 0%;">

              <div class="row">
                <div class="col">
                  <a target="_blank" href="https://lobianijs.com">
                    <img src="../../assets/img/main-logo.png" alt="">
                  </a>
                </div>
              </div>
            </div>

            <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 9%; padding:18px " >

              <h3 class="name" >
                <a target="_blank" href="https://lobianijs.com" style="color: #050505 ;">
                  Projet : P674 PSA - Promens ( Technical Plastic Parts ) - RFQ Zoom 2
                </a>
              </h3>

            </ul>



          </div>

        </div>
      </header>
      <main>
        <div class="row contacts">
          <div class="col invoice-to">

            <h5 style="margin-top: 5px ; margin-left: 15%" ><u>Customer </u> <span style="float: right;margin-right: 50%;color: #3989c6 ">Promens Monastir Tunisia  </span></h5>
            <h5 style="margin-left: 15%"><u>Delivery site</u><span style="float: right;margin-right: 60%;;color: #3989c6  ">Valeo Ben Arous </span></h5>
            <h5 style="margin-left: 15%"><u>Production Site</u><span style="float: right;margin-right: 50%; ;color: #3989c6 ">Promens Monastir Tunisia  </span></h5>
          </div>
          <div class="col invoice-details">
            <h5 class="date" style="margin-top: 35px; float: right;margin-right: 15%;"><u>Date : 01/10/2021</u></h5>
          </div>
        </div>
        <div class="row">

          <div class="col-md-12 ">
            <div class="table-scrollable">
              <table class="table table-bordered">
                <thead>
                <tr class="active">
                  <th >N° Offre</th>
                  <th >RFX Number</th>
                  <th >Mold Cavities</th>
                  <th >Average Annual Quantity</th>
                  <th >Production Batch</th>
                  <th >Packing </th>
                  <th >Material</th>
                  <th >Raw material Cost (€/kg)</th>
                  <th >Net Weight (gr)</th>
                  <th >Gross weight (gr)</th>
                  <th >Type of Mold</th>
                  <th >Taux Recyclage Autorisé </th>
                  <th >Cycle time (s)</th>
                  <th >Press</th>
                  <th >Photo</th>
                  <th >Part Number</th>
                  <th >Designation</th>
                  <th >Material</th>
                  <th >Inserts</th>
                  <th >Added Value</th>
                  <th >Packaging</th>
                  <th >Transport</th>
                  <th >Incoterm</th>
                  <th >Price FCA Tunisia</th>
                  <th >Price FCA Tunisia</th>
                  <th >Price FCA Tunisia</th>
                  <th >Price FCA Tunisia</th>
                  <th >Price FCA Tunisia</th>
                  <th >Price for Rest life product</th>
                  <th >2023</th>
                  <th >2024</th>
                  <th >2025</th>
                  <th >2026</th>
                  <th >2027</th>
                  <th >2028</th>
                  <th >2029</th>
                  <th >2030</th>
                  <th >20301</th>
                  <th >Total Volume</th>
                  <th >TO life time</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                  <td  >01</td>
                  <td >RFQ P674 PSA</td>
                  <td >2</td>
                  <td >258,366</td>
                  <td > 25,837</td>
                  <td >60pcs / Galia  C13 400X300X200</td>
                  <td >POM Hostaforme C9021 - Noir</td>
                  <td >2.85</td>
                  <td > 18.0</td>
                  <td > 22.3</td>
                  <td >TBC</td>
                  <td >TBC</td>
                  <td >37</td>
                  <td >90/100 T</td>
                  <td > <img src="../../assets/img/un.png"/></td>
                  <td >0</td>
                  <td >Push body capacitive push block ( LHD)</td>
                  <td > 0.0721</td>
                  <td >-</td>
                  <td > 0.1502</td>
                  <td > 0.0177</td>
                  <td >-</td>
                  <td >FCA Valeo Ben Arous</td>
                  <td >0.2223</td>
                  <td >0.2134 €</td>
                  <td >0.2049 €</td>
                  <td >0.1967 €</td>
                  <td >0.1888 €</td>
                  <td >0.1888 €</td>
                  <td > 4,491</td>
                  <td > 211,003</td>
                  <td > 309,797</td>
                  <td > 304,411</td>
                  <td > 287,134</td>
                  <td> 262,058</td>
                  <td> 233,206</td>
                  <td> 200,953</td>
                  <td> 50,990</td>
                  <td> 1,864,043</td>
                  <td style="">364,658 €</td>

                </tr>
                <tr>
                  <td  >02</td>
                  <td >RFQ P674 PSA</td>
                  <td >2</td>
                  <td >258,366</td>
                  <td > 25,837</td>
                  <td >60pcs / Galia  C13 400X300X200</td>
                  <td >POM Hostaforme C9021 - Noir</td>
                  <td >2.85</td>
                  <td > 18.0</td>
                  <td > 22.3</td>
                  <td >TBC</td>
                  <td >TBC</td>
                  <td >37</td>
                  <td >90/100 T</td>
                  <td > <img src="../../assets/img/pp.png"/></td>
                  <td >0</td>
                  <td >Push body capacitive push block ( LHD)</td>
                  <td > 0.0721</td>
                  <td >-</td>
                  <td > 0.1502</td>
                  <td > 0.0177</td>
                  <td >-</td>
                  <td >FCA Valeo Ben Arous</td>
                  <td >0.2223</td>
                  <td >0.2134 €</td>
                  <td >0.2049 €</td>
                  <td >0.1967 €</td>
                  <td >0.1888 €</td>
                  <td >0.1888 €</td>
                  <td > 4,491</td>
                  <td > 211,003</td>
                  <td > 309,797</td>
                  <td > 304,411</td>
                  <td > 287,134</td>
                  <td> 262,058</td>
                  <td> 233,206</td>
                  <td> 200,953</td>
                  <td> 50,990</td>
                  <td> 1,864,043</td>
                  <td>364,658 €</td>

                </tr>
                <tr>
                  <td  >03</td>
                  <td >RFQ P674 PSA</td>
                  <td >2</td>
                  <td >258,366</td>
                  <td > 25,837</td>
                  <td >60pcs / Galia  C13 400X300X200</td>
                  <td >POM Hostaforme C9021 - Noir</td>
                  <td >2.85</td>
                  <td > 18.0</td>
                  <td > 22.3</td>
                  <td >TBC</td>
                  <td >TBC</td>
                  <td >37</td>
                  <td >90/100 T</td>
                  <td > <img src="../../assets/img/rr.png"/></td>
                  <td >0</td>
                  <td >Push body capacitive push block ( LHD)</td>
                  <td > 0.0721</td>
                  <td >-</td>
                  <td > 0.1502</td>
                  <td > 0.0177</td>
                  <td >-</td>
                  <td >FCA Valeo Ben Arous</td>
                  <td >0.2223</td>
                  <td >0.2134 €</td>
                  <td >0.2049 €</td>
                  <td >0.1967 €</td>
                  <td >0.1888 €</td>
                  <td >0.1888 €</td>
                  <td > 4,491</td>
                  <td > 211,003</td>
                  <td > 309,797</td>
                  <td > 304,411</td>
                  <td > 287,134</td>
                  <td> 262,058</td>
                  <td> 233,206</td>
                  <td> 200,953</td>
                  <td> 50,990</td>
                  <td> 1,864,043</td>
                  <td>364,658 €</td>

                </tr>
                <tr>
                  <td  >04</td>
                  <td >RFQ P674 PSA</td>
                  <td >2</td>
                  <td >258,366</td>
                  <td > 25,837</td>
                  <td >60pcs / Galia  C13 400X300X200</td>
                  <td >POM Hostaforme C9021 - Noir</td>
                  <td >2.85</td>
                  <td > 18.0</td>
                  <td > 22.3</td>
                  <td >TBC</td>
                  <td >TBC</td>
                  <td >37</td>
                  <td >90/100 T</td>
                  <td > <img src="../../assets/img/ss.png"/></td>
                  <td >0</td>
                  <td >Push body capacitive push block ( LHD)</td>
                  <td > 0.0721</td>
                  <td >-</td>
                  <td > 0.1502</td>
                  <td > 0.0177</td>
                  <td >-</td>
                  <td >FCA Valeo Ben Arous</td>
                  <td >0.2223</td>
                  <td >0.2134 €</td>
                  <td >0.2049 €</td>
                  <td >0.1967 €</td>
                  <td >0.1888 €</td>
                  <td >0.1888 €</td>
                  <td > 4,491</td>
                  <td > 211,003</td>
                  <td > 309,797</td>
                  <td > 304,411</td>
                  <td > 287,134</td>
                  <td> 262,058</td>
                  <td> 233,206</td>
                  <td> 200,953</td>
                  <td> 50,990</td>
                  <td> 1,864,043</td>
                  <td>364,658 €</td>

                </tr>

                <tr>
                  <td colspan="39"></td>
                  <td >2,566,224 €</td>
                </tr>

                </tbody>
              </table>
            </div>

          </div></div>

      </main>
      </div>

    </div>
  </div>


</nav>

