


<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="btn-compose pull-left" style="float: left;margin-left: 0%;">
        <ol class="breadcrumb page-breadcrumb pull-left">
          <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"> Provisional Offer </a>&nbsp;
          </li>
        </ol>

      </div>



      <ul class="nav navbar-nav navbar-right" style="float: right;">
          <button id="panel-button"
                  class="mdl-button   btn-lg mdl-button--icon pull-right"
                  data-upgraded=",MaterialButton"  >
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              data-mdl-for="panel-button">
            <li class="mdl-menu__item">Send by mail </li>
            <li class="mdl-menu__item">Create an opportunity (for this quote ) </li>
            <li class="mdl-menu__item">Print</li>

          </ul>

      </ul>

      <ul class="nav navbar-nav navbar-right" style="float: right;;margin-right: 1%;">
        <a class="btn btn-lg btn-youtube" routerLink="/exportOf" >
          <i class="glyphicon glyphicon-trash pull-left"></i><i></i><span>Delete</span></a>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 1%;">
        <a class="btn btn-lg btn-h" routerLink="/exportOf" >
          <i class="glyphicon glyphicon-download-alt  pull-left"></i><i></i><span>Download</span></a>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 1%;">
        <a class="btn btn-lg btn-primary" routerLink="/createOf">
          <i class="glyphicon glyphicon-edit  pull-left"></i><i></i><span>UPDATE</span></a>
      </ul>


      <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 1%;">
        <a class="btn btn-lg btn-success" >
          <i class="glyphicon glyphicon-check pull-left"></i><i></i><span>Finalized</span></a>
      </ul>



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<nav class="navbar navbar-default navbar-static-top">
  <div id="invoice">

    <div class="invoice overflow-auto">

      <header>
        <div class="row">
          <div class="col">
            <a target="_blank" href="https://lobianijs.com">
              <img src="../../assets/img/Berry.png" alt="">
            </a>
          </div>
          <div class="col company-details">
            <h2 class="name">
              <a target="_blank" href="https://lobianijs.com">
                Berry Monastir
              </a>
            </h2>
            <div>455 Foggy Heights, AZ 85004, US</div>
            <div>(123) 456-789</div>
            <div>berry@gmail.com</div>
          </div>
        </div>
      </header>
      <main>
        <div class="row contacts">
          <div class="col invoice-to">
            <div class="text-gray-light">INVOICE TO:</div>
            <h2 class="to">SAGEM</h2>
            <div class="address">796 Silver Harbour, TX 79273, US</div>
            <div class="email"><a href="mailto:john@example.com">sagem@gmail.com</a></div>
          </div>
          <div class="col invoice-details">
            <h1 class="invoice-id">OFFER N°3</h1>
            <div class="date">Date of Offer: 01/10/2021</div>
            <div class="date">Due Date: 30/10/2018</div>
          </div>
        </div>
      </main>


    </div>
  </div>


</nav>



    <div class="invoice overflow-auto">

        <main>

          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
              <th>#</th>
              <th class="text-left">Material</th>
              <th class="text-right">HOUR PRICE</th>
              <th class="text-right">HOURS</th>
              <th class="text-right">TOTAL</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="no">04</td>
              <td class="text-left"><h3>
                <a target="_blank" href="https://www.youtube.com/channel/UC_UMEcP_kF0z4E6KbxCpV1w">
                  Youtube channel
                </a>
              </h3>
                <a target="_blank" href="https://www.youtube.com/channel/UC_UMEcP_kF0z4E6KbxCpV1w">
                  Useful videos
                </a>
                to improve your Javascript skills. Subscribe and stay tuned :)
              </td>
              <td class="unit">$0.00</td>
              <td class="qty">100</td>
              <td class="total">$0.00</td>
            </tr>
            <tr>
              <td class="no">01</td>
              <td class="text-left"><h3>Website Design</h3>Creating a recognizable design solution based on the company's existing visual identity</td>
              <td class="unit">$40.00</td>
              <td class="qty">30</td>
              <td class="total">$1,200.00</td>
            </tr>
            <tr>
              <td class="no">02</td>
              <td class="text-left"><h3>Website Development</h3>Developing a Content Management System-based Website</td>
              <td class="unit">$40.00</td>
              <td class="qty">80</td>
              <td class="total">$3,200.00</td>
            </tr>
            <tr>
              <td class="no">03</td>
              <td class="text-left"><h3>Search Engines Optimization</h3>Optimize the site for search engines (SEO)</td>
              <td class="unit">$40.00</td>
              <td class="qty">20</td>
              <td class="total">$800.00</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="2"></td>
              <td colspan="2">SUBTOTAL</td>
              <td>$5,200.00</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td colspan="2">TAX 25%</td>
              <td>$1,300.00</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td colspan="2">GRAND TOTAL</td>
              <td>$6,500.00</td>
            </tr>
            </tfoot>
          </table>
          <div class="thanks">Thank you!</div>
          <div class="notices">
            <div>NOTICE:</div>
            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
          </div>
        </main>




    </div>





