.note
{
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(to right, #b6fbff, #4010ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff,#4010ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: bold;
  line-height: 80px;
}
.form-content
{
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control{
  border-radius:1.5rem;
}
.btnSubmit
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #4010ff;
  color: #fff;
}

.compose-editor{
  background-image: linear-gradient(to right, #ffffff, #dbdbdb,#ffffff);
}

.btn-get {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #fff !important;
  text-transform: capitalize;
  background-image: linear-gradient(to right, #00BCD4, #4010ff, #00BCD4);
  padding: 10px 20px 10px;
  position: relative;
  border: 0;
  border-radius: 5px;
  overflow: hidden;

}
.btn-get::before {
  position: absolute;
  content: '';
  top: 0;
  height: 100%;
  width: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#e77808), to(#718399));
  background-image: linear-gradient(to right, #e77808, #718399);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.main__form{
  background: #ffffff;
}



