
.form-content
{
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control{
  border-radius:1.5rem;
}
.btnSubmit
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #2154cf ;
  color: #fff;
}

.compose-editor{
  background-image: linear-gradient(to right, #ffffff, #dbdbdb,#ffffff);
}

.btn-get {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #fff !important;
  text-transform: capitalize;
  background:#2154cf ;
  padding: 10px 20px 10px;
  position: relative;
  border: 0;
  border-radius: 5px;
  overflow: hidden;

}


.main__form{
  background: #ffffff;
}
.btn-compose {
  padding-right:100px;
  border-right:1.5px solid #E3E3E3;

}



