


<nav class="navbar navbar-default navbar-static-top">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="btn-compose pull-left" style="float: left;margin-left: 0%;">

        <h3> Customers List</h3>


      </div>
      <ul class="nav navbar-nav">
        <li>
          <div class="col-2 col-lg-12" >
            <form class="navbar-form navbar-left" method="GET" role="search">
              <div class="form-group">

                <input type="text" name="q" class="form-control" placeholder="Search">

              </div>
              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
          </div>

        </li>
      </ul>



      <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 1%;">
        <a class="btn btn-lg btn-h btn-outline dropdown-toggle pull-right"  data-toggle="dropdown" ><i class="fa fa-chain-broken"></i> <i></i><span>Tools</span>  <i></i> <i class="fa fa-angle-down"></i></a>

        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-print"></i> Print </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-file-pdf-o"></i> Save as
              PDF </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-file-excel-o"></i>
              Export to Excel </a>
          </li>
        </ul>
      </ul>




      <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 1%;">
        <a class="btn btn-lg btn-primary" routerLink="/ajouteC"><i class="fa fa-hospital-o"></i>
          Add New <i class="fa fa-plus"></i>
        </a>

      </ul>

    </div>

</nav>



<div class="col-xs-12 ">
  <div class="home-doctors  clearfix">



    <div class="row  ">

      <div class="col-4 ">

        <div class="pricing-divider ">
          <div class="card-body no-padding ">

            <img src="../assets/img/hut.png" class="doctor-pic"
                 alt="">

          </div>
          <h3 class="text-light">HUTCHINSON</h3>
          <h4 class="my-0 display-4 text-light font-weight-normal mb-3"></h4>
          <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	                     c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
            <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
            <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
            <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
        </div>
        <div class="card-body bg-white mt-0 shadow">

          <div class="profile-usertitle">
            <div class="doctor-name">Mohamed Banour </div>
            <div class="name-center"> Responsable Commercial</div>
          </div>


          <div>

          </div>
<br>
          <p><i class="fa fa-phone"></i><a
            href="tel:(123)456-7890"> +(216) 52 038 369</a></p>

          <ul class="list-unstyled mb-5 position-relative">

            <li>   Sidi Abdelhamid , Sousse 4061</li>
            <li   style=" font-size:20px;"><b>hutchinson@gmail.com</b></li>
          </ul>
          <div class="profile-userbuttons">
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-success" ><i class="fa fa-home"></i></a>
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-primary" ><i class="fa fa-pencil"></i></a>
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-danger"><i class="fa fa-trash-o "></i></a>
          </div>
        </div>
      </div>

      <div class="col-4 ">

        <div class="pricing-divider ">
          <div class="card-body no-padding ">

            <img src="../assets/img/hut.png" class="doctor-pic"
                 alt="">

          </div>
          <h3 class="text-light">HUTCHINSON</h3>
          <h4 class="my-0 display-4 text-light font-weight-normal mb-3"></h4>
          <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	                     c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
            <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
            <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
            <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
        </div>
        <div class="card-body bg-white mt-0 shadow">

          <div class="profile-usertitle">
            <div class="doctor-name">Mohamed Banour </div>
            <div class="name-center"> Responsable Commercial</div>
          </div>


          <div>

          </div>
          <br>
          <p><i class="fa fa-phone"></i><a
            href="tel:(123)456-7890"> +(216) 52 038 369</a></p>

          <ul class="list-unstyled mb-5 position-relative">

            <li>   Sidi Abdelhamid , Sousse 4061</li>
            <li   style=" font-size:20px;"><b>hutchinson@gmail.com</b></li>
          </ul>
          <div class="profile-userbuttons">
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-success" ><i class="fa fa-home"></i></a>
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-primary" ><i class="fa fa-pencil"></i></a>
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-danger"><i class="fa fa-trash-o "></i></a>
          </div>
        </div>
      </div>


      <div class="col-4 ">

        <div class="pricing-divider ">
          <div class="card-body no-padding ">

            <img src="../assets/img/hut.png" class="doctor-pic"
                 alt="">

          </div>
          <h3 class="text-light">HUTCHINSON</h3>
          <h4 class="my-0 display-4 text-light font-weight-normal mb-3"></h4>
          <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	                     c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
            <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
            <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
            <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
        </div>
        <div class="card-body bg-white mt-0 shadow">

          <div class="profile-usertitle">
            <div class="doctor-name">Mohamed Banour </div>
            <div class="name-center"> Responsable Commercial</div>
          </div>


          <div>

          </div>
          <br>
          <p><i class="fa fa-phone"></i><a
            href="tel:(123)456-7890"> +(216) 52 038 369</a></p>

          <ul class="list-unstyled mb-5 position-relative">

            <li>   Sidi Abdelhamid , Sousse 4061</li>
            <li   style=" font-size:20px;"><b>hutchinson@gmail.com</b></li>
          </ul>
          <div class="profile-userbuttons">
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-success" ><i class="fa fa-home"></i></a>
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-primary" ><i class="fa fa-pencil"></i></a>
            <a routerLink="/"
               class="btn btn-circle  btn-lg btn-danger"><i class="fa fa-trash-o "></i></a>
          </div>
        </div>
      </div>


    </div>




  </div>
</div>


