


        <nav class="navbar navbar-expand-lg navbar-light"style="background-color:  #fbfbfb;">

          <span class="logo"><img src="../../assets/img/main-logo.png" alt=""></span>
          <div class="col-md-8">
            <div class="card-body">
              <h1><td width="20%" align="center" style= "color:#2154cf; letter-spacing: 2px ;">Tools Offer</h1>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-9 col-md-12">
              <input class="mdl-textfield__input" type="text" placeholder="Date " >
            </div>

            <div class="col-lg-9 col-md-12">
              <input class="mdl-textfield__input" type="text"  placeholder="Offer N°">
            </div>

          </div>



        </nav>


      <div class="row">

        <div class="col-md-8 ">
          <div class="table-scrollable">
            <table class="table table-bordered">

              <tbody>
              <tr >
                <th style=" height:40px; ; color: #5d5a5a;">Customer</th>
                <th  class="col-md-10">
                  <input type="text" name="your-name" id="your-name" value="" size="40" class="form-control">
                </th>

              </tr>

              <tr >
                <th style=" height:40px;color: #5d5a5a;">N°RFQ </th>
                <th  class="col-md-10"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th  style=" height:40px;color: #5d5a5a;">Project </th>
                <th  class="col-md-10"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th  style=" height:40px;color: #5d5a5a;">Date RFQ </th>
                <th  class="col-md-10"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:40px;color: #5d5a5a;">Request type</th>
                <th  class="col-md-10"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
              </tr>

              </tbody>

            </table>
          </div>
        </div>

      </div>

      <div class="row" >
        <div class="col-md-12 ">
          <div class="table-scrollable ">
            <table class="table table-bordered ">


              <tbody>

              <tr>
                <th  style="background:#e77808; height:40px;text-decoration: underline; color: #5d5a5a; width:32.5%;">Part description</th>
              </tr>

              <tr >
                <th style=" height:150px; color: #5d5a5a;">Picture</th>
                <th  class="col-md-2"></th>
                <th  class="col-md-2"></th>
                <th  class="col-md-2"></th>
                <th  class="col-md-2"></th>
                <th  class="col-md-2"></th>
                <th  class="col-md-2"></th>



              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Part name</th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>

              <tr >
                <th style=" height:50px; color: #5d5a5a;">Part number</th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>

              <tr >
                <th style=" height:50px; color: #5d5a5a;">Net weight (g)</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Part size (mm)</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>

              </tbody>



            </table>


          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-md-12 ">
          <div class="table-scrollable">
            <table class="table table-bordered">

              <tbody>

              <tr>
                <th style="background:#e77808; height:40px;text-decoration: underline; color: #5d5a5a;width:32.5%;">Technical description</th>

              </tr>
              <tr >
                <th   style=" height:50px; color: #5d5a5a;">Number of cavities</th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Hot runner</th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Number of Nozzles</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Injection type</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Valve gate</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Temperature sensor</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Pression sensor per cavity</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr>
                <th style=" height:50px; color: #5d5a5a;">Steel CAV./CORE</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>

              <tr >
                <th style=" height:50px; color: #5d5a5a;">Steel Base</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Nbr of Sliders per cavity</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Nbr of Lifters per cavity</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">floating b plate</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Annual capacity (parts)</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Injection machine type</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>


              </tbody>



            </table>


          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-md-12 ">
          <div class="table-scrollable">
            <table class="table table-bordered">

              <tbody>

              <tr>
                <th style="background:#e77808; height:40px;text-decoration: underline; color: #5d5a5a;width:32.5%;">Development</th>

              </tr>
              <tr >
                <th   style=" height:50px; color: #5d5a5a;">Number of tunning estimated</th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>


              </tbody>



            </table>


          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-md-12 ">
          <div class="table-scrollable">
            <table class="table table-bordered">

              <tbody>

              <tr>
                <th style="background:#e77808; height:40px;text-decoration: underline; color: #5d5a5a;">Costs</th>

              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Toolmaker</th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Mold and tunning </th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Trial</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Sensors</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Spare parts & specific traitement</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Quality tools </th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Metrology and capability </th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Shipment</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Project monotoring</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Rheology</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Hand Robot & Charger</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">SLC/CSL Phase : Contrôle 100% of parts : 3 Batchs / 3 Monthts</th>

                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>
              <tr >
                <th style=" height:50px; color: #5d5a5a;">Total</th>

                <th  class="col-md-2" ><input type="text" name="your-name"  value="" size="40" class="form-control" ></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control" ></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control" ></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control" ></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control" ></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control" ></th>
              </tr>


              </tbody>



            </table>


          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-md-12 ">
          <div class="table-scrollable">
            <table class="table table-bordered">

              <tbody>

              <tr>
                <th style="background:#e77808; height:40px;text-decoration: underline; color: #5d5a5a;width:33.5%;">Warranty</th>

              </tr>
              <tr >
                <th  style=" height:50px; color: #5d5a5a;">Number of Injection</th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
              </tr>


              </tbody>



            </table>


          </div>

        </div>

      </div>


      <div class="row">
        <div class="col-md-12 ">
          <div class="table-scrollable">
            <div class="table-scrollable">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <th style="background:#e77808; height:40px;text-decoration: underline; color: #5d5a5a;width:32%;">Macro planning (weeks)</th>

                </tr>
                <tr >
                  <th  style=" height:50px; color: #5d5a5a;">From Order receipt => FOT (Study & mold make)</th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                </tr>
                <tr >
                  <th style=" height:50px; color: #5d5a5a;">Tunning + Validation of the transfert=> IS for validation </th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                </tr>
                <tr >
                  <th style=" height:50px; color: #5d5a5a;">Total : from Order receipt to IS</th>

                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                </tr>
                <tr >
                  <th style=" height:50px; color: #5d5a5a;">Customer validation (Estimated)</th>

                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                </tr>
                <tr >
                  <th style=" height:50px; color: #5d5a5a;">Go for production (Estimated)</th>

                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                  <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                </tr>

                </tbody>

              </table>



            </div>


          </div>

        </div>

      </div>


        <div class="row">
          <div class="col-md-12 ">
            <div class="table-scrollable">
              <div class="table-scrollable">
                <table class="table table-bordered">
                  <tbody>
                  <tr>
                    <th style="background:#e77808; height:40px;text-decoration: underline; color: #5d5a5a;width:34%;">Additional  cost</th>

                  </tr>
                  <tr >
                    <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                    <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                    <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                    <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                    <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                    <th  class="col-md-2"><input type="text" name="your-name"  value="" size="40" class="form-control"></th>
                    <th  class="col-md-2"><input type="text" name="your-name" value="" size="40" class="form-control"></th>
                  </tr>

                  <br>
                  </tbody>

                </table>



                <div class="col-md-12 " style="background: #FFFFFF" >
                  <br>

                  <a style="font-family:'Bauhaus 93' ;float: right;margin-right:32%; font-size: 18px">  Validity of the offer  :   <input type="text"  ></a>
                  <br><br><br>
                  <a style="font-family:Bahnschrift "> If the validity of the offer is exceeded, an update or confirmation is necessary.  </a>
                  <br>
                  <a style="font-family:Bahnschrift "> Before the launch of mold, for any modification of the design, the offer will be updated</a>
                  <br>
                  <a style="font-family:Bahnschrift "> Any modification during the mold development  will be supported by the customer.</a>
                  <br>
                  <a style="font-family:Bahnschrift ">For orders of parts additional to those required in the mold contract, an offer of price will be communicated</a>
                  <br>
                  <a class="box-btn" style="float: right;margin-right: 2%; margin-bottom: 1rem;">Save</a>
                </div>


              </div>


            </div>

          </div>

        </div>







