<div class="borderBox light bordered card-box">
  <div class="borderBox-title tabbable-line">
    <div class="caption"><span class="caption-subject font-dark bold uppercase"> Traceability</span></div>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a href="#borderBox_tab5" data-toggle="tab"> Material </a></li>
      <li class="nav-item"><a href="#borderBox_tab4" data-toggle="tab"> Colorant </a></li>
      <li class="nav-item"><a href="#borderBox_tab3" data-toggle="tab"> Insert </a></li>
      <li class="nav-item"><a href="#borderBox_tab2" data-toggle="tab"> Transport  </a></li>
      <li class="nav-item"><a href="#borderBox_tab1" data-toggle="tab" class="active"> Packaging </a></li>
    </ul>
  </div>
  <div class="borderBox-body">
    <div class="tab-content">
      <div class="tab-pane active" id="borderBox_tab1">
        <div class="tabbable-line">
          <ul class="nav customtab nav-tabs" role="tablist">
            <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">UC - Box</a></li>
            <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Bag</a></li>
            <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">Separation</a></li>
            <li class="nav-item"><a href="#tab5" class="nav-link" data-toggle="tab">UM - Pallet	</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active fontawesome-demo" id="tab1">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-box">
                    <div class="card-head">
                      <header>All UC-Box</header>
                      <ul class="nav navbar-nav navbar-right">
                        <li>
                          <div class="col-2 col-lg-12" >
                            <form  class="navbar-form navbar-left" method="GET" role="search" >
                              <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn submit" ><i class="icon-magnifier"></i></button>
                                  </span>
                              </div>
                            </form>
                          </div>

                        </li>
                      </ul>

                    </div>
                    <div class="card-body ">
                      <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="example4">
                          <thead>
                          <tr>
                            <th class="col-md-4">Designation</th>
                            <th class="text-center">Silver code</th>
                            <th class="text-center">Costs</th>
                            <th class="text-center">Action</th>
                            <th class="text-center">Traceability</th>
                            <th class="text-center">Joining Date</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr  class="odd gradeX">
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab2">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-box">
                    <div class="card-head">
                      <header>All Bag</header>
                      <ul class="nav navbar-nav navbar-right">
                        <li>
                          <div class="col-2 col-lg-12" >
                            <form class="navbar-form navbar-left" method="GET" role="search" >
                              <div class="input-group"  >
                                <input type="text" class="form-control"  >
                                <span class="input-group-btn"><button class="btn submit"><i class="icon-magnifier"></i></button>
				                     		</span>
                              </div>
                            </form>
                          </div>

                        </li>
                      </ul>
                    </div>
                    <div class="card-body ">
                      <div class="table-scrollable">
                        <table
                          class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                          id="example3">
                          <thead>
                          <tr>
                            <th class="col-md-4"> Designation </th>
                            <th class="text-center"> Silver code </th>
                            <th class="text-center"> Costs </th>
                            <th class="text-center">Action</th>
                            <th class="text-center">Traceability</th>
                            <th class="text-center">Joining Date</th>

                          </tr>
                          </thead>
                          <tbody>
                          <tr  class="odd gradeX">
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab3">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-box">
                    <div class="card-head">
                      <header>All Separation</header>
                      <ul class="nav navbar-nav navbar-right">
                        <li>
                          <div class="col-2 col-lg-12" >
                            <form class="navbar-form navbar-left" method="GET" role="search" >
                              <div class="input-group"  >
                                <input type="text" class="form-control" >
                                <span class="input-group-btn"><button  class="btn submit"><i class="icon-magnifier"></i></button></span>
                              </div>
                            </form>

                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body ">

                      <div class="table-scrollable">
                        <table
                          class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                          id="ex3">
                          <thead>
                          <tr>
                            <th class="col-md-4">Designation</th>
                            <th class="text-center">Silver code</th>
                            <th class="text-center"> Costs </th>
                            <th class="text-center">Action</th>
                            <th class="text-center">Traceability</th>
                            <th class="text-center">Joining Date</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="odd gradeX">
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab5">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-box">
                    <div class="card-head">
                      <header>All UM - Pallet</header>
                      <ul class="nav navbar-nav navbar-right">
                        <li>
                          <div class="col-2 col-lg-12" >
                            <form class="navbar-form navbar-left" method="GET" role="search" >
                              <div class="input-group"  >
                                <input type="text" class="form-control">
                                <span class="input-group-btn"><button class="btn submit"><i class="icon-magnifier"></i></button></span>
                              </div>
                            </form>
                          </div>

                        </li>
                      </ul>
                    </div>
                    <div class="card-body ">

                      <div class="table-scrollable">
                        <table
                          class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                          id="exd3">
                          <thead>
                          <tr>
                            <th class="col-md-4"> Designation </th>
                            <th class="text-center"> Silver code </th>
                            <th class="text-center"> Costs </th>
                            <th class="text-center">Action</th>
                            <th class="text-center">Traceability</th>
                            <th class="text-center">Joining Date</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr  class="odd gradeX">
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center" ></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="borderBox_tab2">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-box">
              <div class="card-head">
                <header>All Transport</header>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <div class="col-2 col-lg-12" >
                      <form class="navbar-form navbar-left" method="GET" role="search" >
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-btn"><button  class="btn submit"><i class="icon-magnifier"></i></button></span>
                        </div>
                      </form>
                    </div>

                  </li>
                </ul>
              </div>
              <div class="card-body ">

                <div class="table-scrollable">
                  <table
                    class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                    id="exampl">
                    <thead>
                    <tr>
                      <th class="text-center"> Country </th>
                      <th class="text-center"> Destination </th>
                      <th class="text-center"> Quotation </th>
                      <th class="text-center"> Offer </th>
                      <th class="text-center">Action</th>
                      <th class="text-center">Traceability</th>
                      <th class="text-center">Joining Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX">
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="borderBox_tab3">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-box">
              <div class="card-head">
                <header>All Insert</header>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <div class="col-2 col-lg-12" >
                      <form class="navbar-form navbar-left" method="GET" role="search" >
                        <div class="input-group"  >
                          <input type="text" class="form-control" name="design" >
                          <span class="input-group-btn"><button class="btn submit"><i class="icon-magnifier"></i></button>
					                	</span>
                        </div>
                      </form>
                    </div>

                  </li>
                </ul>
              </div>
              <div class="card-body ">

                <div class="table-scrollable">
                  <table
                    class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                    id="ex">
                    <thead>
                    <tr>
                      <th class="col-md-2"> Designation </th>
                      <th class="text-center"> Silver code </th>
                      <th class="text-center"> Costs </th>
                      <th class="text-center">Action</th>
                      <th class="text-center">Traceability</th>
                      <th class="text-center">Joining Date</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr  class="odd gradeX">
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="borderBox_tab4">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-box">
              <div class="card-head">
                <header>All Colorant</header>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <div class="col-2 col-lg-12" >
                      <form class="navbar-form navbar-left" method="GET" role="search" >
                        <div class="input-group"  >
                          <input type="text" class="form-control"  >
                          <span class="input-group-btn"><button class="btn submit"><i class="icon-magnifier"></i></button>
						</span>
                        </div>
                      </form>
                    </div>

                  </li>
                </ul>
              </div>
              <div class="card-body ">

                <div class="table-scrollable">
                  <table
                    class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                    id="edx">
                    <thead>
                    <tr>
                      <th class="col-md-4"> Designation </th>
                      <th class="text-center"> Silver code </th>
                      <th class="text-center"> Costs </th>
                      <th class="text-center">Action</th>
                      <th class="text-center"> Traceability</th>
                      <th class="text-center">Joining Date</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr  class="odd gradeX">
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="borderBox_tab5">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-box">
              <div class="card-head">
                <header>All Material</header>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <div class="col-2 col-lg-12" >
                      <form class="navbar-form navbar-left" method="GET" role="search" >
                        <div class="input-group"  >
                          <input type="text" class="form-control"  >
                          <span class="input-group-btn"><button class="btn submit"><i class="icon-magnifier"></i></button>
						</span>
                        </div>
                      </form>
                    </div>

                  </li>
                </ul>
              </div>
              <div class="card-body ">

                <div class="table-scrollable">
                  <table
                    class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                    id="e">
                    <thead>
                    <tr>
                      <th class="col-md-2"> Material Reference </th>
                      <th class="text-center"> Silver code </th>
                      <th class="text-center"> Sales Price </th>
                      <th class="text-center">Action</th>
                      <th class="text-center">Traceability</th>
                      <th class="text-center">Joining Date</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr  class="odd gradeX">
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



