
<nav class="navbar navbar-expand-lg navbar-light"style="background-color:  #fbfbfb;">

  <span class="logo" ><img src="../../assets/img/main-logo.png" alt=""></span>
  <div class="col-md-8">
    <div class="card-body">
      <h1 class="name " style="color: #2154cf ; letter-spacing: 2px ;float: right;margin-right: 27%; padding:5px ;" >
        INJECTION TRIAL QUOTE
      </h1>
    </div>
  </div>


  <div class="form-group row">

    <div class="col-lg-12 col-md-12">
      <br>
      <select class="form-control " name="list3" id="districtSel" required style="color: #e77808">
        <option  value="" disabled selected hidden>Select  type of service </option>
        <option value="">Material Qualification</option>
        <option value="">Transfer</option>
        <option value="">Prework</option>
        <option value="">Modification</option>
        <option value="">Short Production</option>
        <option value="">Metrology</option>
        <option value="">Technical</option>
        <option value="">Realogy</option>
        <option value="">Special Transport</option>
        <option value="">Samples</option>
        <option value="">Other</option>
      </select>
    </div>

    <div class="col-lg-12 col-md-12">
      <br>
      <input type="text" style="color: #e77808"  value="" class="form-control" placeholder="Quotation N°" >
    </div>
  </div>



</nav>

<div class="panel filterable" style="border-color:#2154cf ">



          <table class="table table-bordered  " >
            <thead  >

            <tr class="filters" >
              <th style="color:  #2154cf">Date</th>
              <th style="color:  #2154cf">Customer</th>
              <th style="color:  #2154cf">Project</th>
              <th style="color:  #2154cf">Mold Number </th>
              <th style="color:  #2154cf">Reference</th>
              <th style="color: #2154cf">Part Name</th>
              <th style="color:  #2154cf">Part Number</th>
              <th style="color:  #2154cf">Destination</th>
              <th style="color: #2154cf">Sales Manager</th>

            </tr>
            </thead>
            <tbody>
            <tr >

              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>



            </tr>




            </tbody>

          </table>

        </div>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#material" role="tab">Material</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#process" role="tab">Process
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#metrology" role="tab">Metrology
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#project" role="tab">Project Monitoring
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#other" role="tab">Other Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#packaging" role="tab">Packaging</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#transport" role="tab">Transport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#work" role="tab">Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#spare" role="tab">Spare Part</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#margin" role="tab">Margin</a>
        </li>



      </ul>
    </div>



    <div class="card-body">
      <!-- Tab panes -->
      <div class="tab-content text-center">
        <div class="tab-pane active" id="material" role="tabpanel">
          <div class="invoice ">

            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF;" >Material</th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <th style=" color:  #2154cf;;background:#FFFFFF" > Material Purchase </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF">Component Purchase </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>

          </div>




        </div>
        <div class="tab-pane" id="process" role="tabpanel">

          <div class="invoice ">

            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Process</th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <th style=" color:  #2154cf;;background:#FFFFFF" > Machine </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF">Operator  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF">   Technician  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="tab-pane" id="metrology" role="tabpanel">

          <div class="invoice ">
            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Metrology</th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>
          </div>
          </div>
        <div class="tab-pane" id="project" role="tabpanel">



          <div class="invoice ">

            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Project Monitoring </th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="tab-pane" id="other" role="tabpanel">
          <div class="invoice ">
            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Other Service  </th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="tab-pane" id="packaging" role="tabpanel">
          <div class="invoice ">
            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Packaging  </th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="tab-pane" id="transport" role="tabpanel">
          <div class="invoice ">
            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Transport   </th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>

          </div>
        </div>
        <div class="tab-pane" id="work" role="tabpanel">

          <div class="invoice ">
            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Works   </th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>

          </div>
        </div>
        <div class="tab-pane" id="spare" role="tabpanel">
          <div class="invoice ">
            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Spare Part    </th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="tab-pane" id="margin" role="tabpanel">
          <div class="invoice ">

            <table class="table table-bordered  " >
              <thead>
              <tr>
                <th  class="col-md-2" style="color:  #2154cf;text-decoration: underline;background:#FFFFFF" >Margin   </th>
                <th class="text-center"  style="color:  #2154cf;background:#FFFFFF ">Quantity</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Price </th>
                <th   class="text-center" style="color:  #2154cf;background:#FFFFFF">Cost</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Margin</th>
                <th  class="text-center" style="color:  #2154cf;background:#FFFFFF">Offre</th>

              </tr>

              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>


              </tr>
              <tr>
                <th style="color:  #2154cf;background:#FFFFFF"> Other  </th>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF" ><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" name="your-name"  value="" size="10" class="form-control"></td>

              </tr>
              <tr>
                <th   style="color:  #2154cf ;background:#FFFFFF">Total</th>
                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              <tr>
                <th   style="color:  #2154cf ">Margin</th>

                <td colspan="2" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background :#ddd"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
                <td colspan="1" style="background:#FFFFFF"></td>
                <th class="text-right" style="color:  #2154cf;background: #ddd;"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
              </tr>
              </tbody>

            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-primary">

      <div class="box-body">
        <!-- text input -->
        <div class="row form-group">
          <a style="font-family:Bahnschrift ;color: #2154cf;margin-left: 1%;"> Deadline  </a>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control" name="title" required>

          </div>



          <div class="form-group col-md-12">
            <a style="font-family:Bahnschrift ;color: #2154cf;"> Rating  </a>
            <textarea type="text" height="175px" class="form-control" placeholder="Description" name="description" required></textarea>

          </div>
        </div>
      </div>
    <br><br>
    <a style="font-family:'Bauhaus 93' ;float: right;margin-right:32%; font-size:25px;color: #2154cf">  Validity of the offer  :   <input type="text"  ></a>
    <br><br><br>
      <div class="box-footer">
        <button type="reset"  class="btn btn-default " style="float: right;padding: 8px 40px;font-size: 18px;">Cancel</button>
        <button type="submit" class="btn " style="float: right;margin-right: 1%;background: #2154cf;color: #FFFFFF;padding: 8px 50px;font-size: 18px;">Save</button>
      </div>

  </div>

  <div >

    <br><br><br>

  </div>



