<div class="borderBox light bordered card-box">
  <div class="tab-pane active fontawesome-demo" >
    <div class="row">
      <div class="col-md-12">
        <div class="card card-box">
          <div class="card-head">
            <header>Tools Offer</header>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6"><a style="font-family:Bahnschrift">Date</a></div>
              <div class="col-md-6 col-sm-6 col-6"><a style="font-family:Bahnschrift">Offer N°</a></div>
              <div class="col-md-6 col-sm-6 col-6"><input class="form-control mdl-textfield__input" type="date" formControlName="date" disabled>
              </div>
              <div class="col-md-6 col-sm-6 col-6"><input class="form-control mdl-textfield__input" type="text" formControlName="" placeholder="Offer N°"
                                                          disabled>
              </div>
              <br><br>
              <div class="col-md-6 col-sm-6 col-6"><a style="font-family:Bahnschrift">DOC N°</a></div>
              <div class="col-md-6 col-sm-6 col-6"><a style="font-family:Bahnschrift">Offer N°</a></div>
              <div class="col-md-6 col-sm-6 col-6">
                <input class="form-control mdl-textfield__input" type="text" formControlName="" placeholder="DOC N°">
              </div>
              <div class="col-md-6 col-sm-6 col-6">
                <input class="form-control mdl-textfield__input" type="text" formControlName="" placeholder="Offer Mold N°">
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="text-center btn-primary" style="background:#FFFFFF">Customer</th>
                <th class="text-center btn-primary" style="background:#FFFFFF">N°RFQ</th>
                <th class="text-center btn-primary" style="background:#FFFFFF">Project</th>
                <th class="text-center btn-primary" style="background:#FFFFFF">Date RFQ</th>
                <th class="text-center btn-primary" style="background:#FFFFFF">Request type</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                <td style="background: #FFFFFF"><input type="date" size="10" class="form-control"></td>
                <td style="background: #FFFFFF">
                  <select class="form-control">
                    <option  value="">Select</option>
                    <option>New mold</option>
                    <option>Renewal</option>
                  </select>
                </td>
              </tr>
              </tbody>
            </table>
            <hr>
            <div class="card">
              <div class="col-xs-12 ">
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-scrollable">
                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th colspan="7" class="btn-primary" style="font-family:Bahnschrift">Part description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <th>Picture</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Part name</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Part number</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Net weight (g)</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Part size (mm)</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr class="btn-primary">
                          <th colspan="7" class="btn-primary" style="font-family:Bahnschrift">Technical description</th>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                          <th>Number of cavities</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Hot runner</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Number of Nozzles</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Injection type</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Valve gate</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Temperature sensor</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Pression sensor per cavity</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Steel CAV./CORE</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Steel Base</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Nbr of Sliders per cavity</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Nbr of Lifters per cavity</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>floating b plate</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Annual capacity (parts)</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Injection machine type</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr class="btn-primary">
                          <th colspan="7" class="btn-primary" style="font-family:Bahnschrift">Development</th>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                          <th>Number of tunning estimated</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr class="btn-primary">
                          <th colspan="7" class="btn-primary" style="font-family:Bahnschrift">Costs</th>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                          <th>Toolmaker</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Mold and tunning</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Trial</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Sensors</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Spare parts & specific traitement</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Quality tools</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Metrology and capability/th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Shipment</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Project monotoring</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Rheology</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Hand Robot & Charger</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>SLC/CSL Phase : Contrôle 100% of parts : 3 Batchs / 3 Monthts</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Total</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr class="btn-primary">
                          <th colspan="7" class="btn-primary" style="font-family:Bahnschrift">Warranty</th>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                          <th>Number of Injection</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr class="btn-primary">
                          <th colspan="7" class="btn-primary" style="font-family:Bahnschrift">Macro planning (weeks)</th>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                          <th>From Order receipt => FOT (Study & mold make)</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Tunning + Validation of the transfert=> IS for validation</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Total : from Order receipt to IS</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Customer validation (Estimated)</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>
                        <tr>
                          <th>Go for production (Estimated)</th>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>

                        <tr class="btn-primary">
                          <th colspan="7" class="btn-primary" style="font-family:Bahnschrift">Additional  cost</th>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                          <td style="background: #FFFFFF"><input type="text" size="10" class="form-control"></td>
                        </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <a style="font-family:Bahnschrift ;margin-left: 1%;">  Validity of the offer </a>
            </div>

            <div class="row">
              <div class="form-group col-md-12">
                <input type="date" class="form-control" formControlName="validity"  required>
              </div>
            </div>
            <br>
            <div class="row form-group">
              <a style="font-family:Bahnschrift ;margin-left: 1%;"> - If the validity of the offer is exceeded, an update or confirmation is necessary.</a>
            </div>
            <div class="row form-group">
              <a style="font-family:Bahnschrift ;margin-left: 1%;"> - TBefore the launch of mold, for any modification of the design, the offer will be updated.</a>
            </div>
            <div class="row form-group">
              <a style="font-family:Bahnschrift ;margin-left: 1%;">- Any modification during the mold development  will be supported by the customer.</a>
            </div>
            <div class="row form-group">
              <a style="font-family:Bahnschrift ;margin-left: 1%;"> - For orders of parts additional to those required in the mold contract, an offer of price will be communicated.</a>
            </div>

            <button type="reset"  class="btn btn-default " style="float: right;padding: 8px 40px;font-size: 16px;">Cancel</button>
            <button type="submit" class="btn btn-primary " style="float: right;margin-right: 1%;padding: 8px 50px;font-size: 16px;">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












