
.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}



.main__form{
  background: #ffffff;
}

.form-content
{
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control{
  border-radius:1.5rem;
}


.compose-editor{
  background: #dbdbdb;
}

.btn-get {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #fff !important;
  text-transform: capitalize;
  background: #2154cf;
  padding: 10px 20px 10px;
  position: relative;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  text-transform: capitalize !important;
}



.btn-set {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #fff !important;
  text-transform: capitalize;
  background: #dddd;
  padding: 10px 20px 10px;
  position: relative;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
}













.btn-compose {
  padding-right:100px;
  border-right:1.5px solid #E3E3E3;

}
