
<header style="background: #fbfbfb;">


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <div class="btn-compose pull-left" style="float: left;margin-left:10%;">

      <div class="row">
        <div class="col">
          <a target="_blank" href="https://lobianijs.com">
            <img src="../../assets/img/main-logo.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 26%; padding:5px ; " >

      <h1 class="name " style="color: #2154cf ; letter-spacing: 2px ;" >

        PRICE OFFER

      </h1>

    </ul>



  </div>


</header>

<br>
<div class="panel filterable" style="border-color:#2154cf ">



  <table class="table table-bordered  " >
    <thead  >

    <tr class="filters" >
      <th style="color:  #2154cf">Date</th>
      <th style="color:  #2154cf">Customer</th>
      <th style="color:  #2154cf">Designation</th>
      <th style="color: #2154cf">Promens mold</th>
      <th style="color:  #2154cf">Location of injection</th>
      <th style="color: #2154cf">Quantity requested</th>

    </tr>
    </thead>
    <tbody>
    <tr >


      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>



    </tr>




    </tbody>

  </table>

</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th data-sort="name" style="color:  #2154cf">This offer includes the following services:</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td><a > Purchase               </a></td>
  </tr>

  <tr>
    <td><a>Raw Materials                 </a></td>
  </tr>

  <tr>
    <td><a >Manufacturing                </a></td>
  </tr>

  <tr>
    <td><a> Cost of the test center France                      </a></td>
  </tr>

  <tr>
    <td><a>Packaging      </a></td>
  </tr>

  <table class="table * " >
    <thead  >

    <tr class="filters" >
      <th style="color:  #2154cf">Box type</th>
      <th style="color:  #2154cf">Box Dim</th>
      <th style="color:  #2154cf">Parts/Box</th>
      <th style="color: #2154cf">Nb of Boxs</th>
      <th style="color:  #2154cf">Boxes/pallet</th>
      <th style="color:  #2154cf">Nb of pallets</th>
      <th style="color:  #2154cf">First pallet height</th>
      <th style="color:  #2154cf">Second pallet height</th>


    </tr>
    </thead>
    <tbody>
    <tr >


      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>


      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th><input type="text" name="your-name"  value="" size="10" class="form-control"></th>

    </tr>




    </tbody>

  </table>
  <tr>
    <td><a>Delivery  :     </a></td>
  </tr>
  <tr>
    <td><a>   EXW BELLIGNAT   </a></td>
  </tr>
  <tr>
    <td><a>  Technical support   </a></td>
  </tr>
  <tr>
    <td><a>  Technical support   </a></td>
  </tr>
</table>

<table class="table table-striped">

  <tbody>

  <tr>
    <td><a >  Delivery Period                </a></td>
  </tr>
  <tr>
    <td><a >  The delivery period :              </a></td>
  </tr>
</table>

<div class="panel filterable" style="border-color:#2154cf; ">

  <table class="table table-bordered  " >
    <thead  >

    <tr class="filters" >
      <th class="col-md-3" style="color:  #2154cf">      Price Offer (€)</th>
      <th  ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th class="col-md-3"><input type="text" name="your-name"  value="" size="10" class="form-control"></th>

    </tr>
    </thead>
    <tbody>

  </table>

</div>

<div class="panel filterable" style="border-color:#2154cf; ">

  <table class="table table-bordered  " >
    <thead  >

    <tr class="filters" >
      <th class="col-md-3" style="color:  #2154cf">Price Offer / Piece (€)</th>
      <th  ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>
      <th class="col-md-3" ><input type="text" name="your-name"  value="" size="10" class="form-control"></th>

    </tr>
    </thead>


  </table>
  <br>
</div>

