<div class="bg-img">

  <div class="content">
    <header>Authentication</header>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
      <div class="field" style="  border: 4px solid #3498db" >
        <span class="fa fa-user" ></span>
        <input type="text" required  placeholder="Username " class="form-control"   formControlName="username" [ngClass]="{'is-invalid': submit && f.username.errors}" >
        <div *ngIf="submit && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors?.required"> Nom d'utilisateur est obligatoire</div>
        </div>
      </div>
      <div class="field space" style="  border: 4px solid #3498db">
        <span class="fa fa-lock"></span>
        <input type="password" class="pass-key" required placeholder="Password"  class="form-control"  formControlName="password" [ngClass]="{'is-invalid': submit && f.password.errors}">
        <div *ngIf="submit && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors?.required"> Mot de passe obligatoire</div>
        </div>
        <span class="show">SHOW</span>
      </div>
      <div class="pass">
        <a >Forgot Password?</a>
      </div>
      <div class="field">
        <input type="submit" value="LOGIN">
      </div>
    </form>


  </div>

  <div class="cont">
    <a>Sales Dashboard</a>
  </div>

</div>
<!--<script>
  const pass_field = document.querySelector('.pass-key');
  const showBtn = document.querySelector('.show');
  showBtn.addEventListener('click', function(){
    if(pass_field.type === "password"){
      pass_field.type = "text";
      showBtn.textContent = "HIDE";
      showBtn.style.color = "#3498db";
    }else{
      pass_field.type = "password";
      showBtn.textContent = "SHOW";
      showBtn.style.color = "#222";
    }
  });
</script>-->
