@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
  background: #4010ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFB88C, #4010ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFB88C, #4010ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float:left;
  width:100%;
  padding : 50px 0;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#4010ff;}
.login-sec .copy-text a{color:#e77808;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #e77808;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #e77808; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}



.section-title p {
  font-size: 24px;
  font-family: Oleo Script;
  margin-bottom: 0px;
  margin-top:50px;
}
.section-title h3 {
  font-size: 40px;
  text-transform: capitalize;
  color: #FF5E18;
  position: relative;
  display: inline-block;
  padding-bottom: 25px;
}
.section-title h3::before {
  width: 80px;
  height: 1.5px;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}
.section-title h3::before, .section-title h4::after {
  position: absolute;
  content: "";
  background-color: #FF5E18;
}
.single_menu_list img {
  max-width: 30%;
  position: absolute;
  left: 0px;
  top: 0;
  border: 1px solid #ddd;
  padding: 3px;
  border-radius: 50%;
  transition: .4s;
}
.menu_style1 .single_menu_list img {
  position: static;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
}

p {
  font-weight: 300;
  font-size: 14px;
}







