<body class="login-body">

<div class="image_cover">
  <img src="../../assets/img/ccc.jpg" style=" height: 100vh; width: 100%;">
</div>
<div class="container" >

  <form class="form-signin" >
    <h2 class="form-signin-heading" style="color:black;"><h4>Authentification</h4></h2>
    <div class="login-wrap">
      <div class="form-group">

        <input type="text" formControlName="username"  style="border-color: black;border-style: double"  placeholder="Username"  class="form-control"  />
        <div  class="invalid-feedback">
          <div >Nom d'utilisateur est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password"   style="border-color: black;border-style: double" placeholder="Password"  class="form-control"  />
        <div  class="invalid-feedback">
          <div >Mot de passe obligatoire</div>
        </div>
      </div>
      <button  class="btn " type="submit" style="background: steelblue; color :black; margin-left: 90px">Connexion</button>



    </div>



  </form>

</div>



<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Forgot Password ?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Enter your e-mail address below to reset your password.</p>
        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
        <button class="btn btn-success" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->




</body>
