<div class="borderBox light bordered card-box">
  <div class="tab-pane active fontawesome-demo" >

  <div class="invoice overflow-auto">

    <header>
      <div class="row">
        <div class="col">
          <a target="_blank" href="https://lobianijs.com">
            <img src="../../../assets/img/main-logo.png" alt="">
          </a>
        </div>
        <div class="col company-details">
          <h2 class="name">
            <a target="_blank" href="https://lobianijs.com">
              Berry Monastir
            </a>
          </h2>
          <div>455 Foggy Heights, AZ 85004, US</div>
          <div>(123) 456-789</div>
          <div>berry@gmail.com</div>
        </div>
      </div>
    </header>
    <main>
      <div class="row contacts">
        <div class="col invoice-to">
          <div class="text-gray-light">INVOICE TO:</div>
          <h2 class="to">SAGEM</h2>
          <div class="address">796 Silver Harbour, TX 79273, US</div>
          <div class="email"><a href="mailto:john@example.com">sagem@gmail.com</a></div>
        </div>
        <div class="col invoice-details">
          <h1 class="invoice-id">OFFER N°3</h1>
          <div class="date">Date of Offer: 01/10/2021</div>
          <div class="date">Due Date: 30/10/2018</div>
        </div>
      </div>
    </main>


  </div>






<div class="invoice overflow-auto">

  <main>
    <div class="table-scrollable">
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th  class="no">MATERIAL</th>
          <th class="text-right">Raw Material Family	</th>
          <th class="text-right">Raw Material Description		</th>
          <th class="text-right">Supplier</th>
          <th class="text-right">Incoterm</th>
          <th class="text-right">Sales Price</th>
          <th class="text-right">Part Name </th>
          <th class="text-right">Transport</th>
          <th class="text-right">Delivered Material Cost</th>
          <th class="text-right">Handling</th>
          <th class="text-right">Volum According </th>
          <th class="text-right">Density (gr/cm³)</th>
          <th class="text-right">Net Weight</th>
          <th class="text-right">Estimated Sprue Volum cm³</th>
          <th class="text-right">Estimated Sprue (gr)</th>
          <th class="text-right">Regrind (Yes/No)</th>
          <th class="text-right">% Of Sprue autorized</th>
          <th class="text-right">Injected Weight</th>
          <th class="text-right">Sprue Reused</th>
          <th class="text-right">Sprue Rejected</th>
          <th class="text-right">Scrap </th>
          <th class="text-right">Gross Weight</th>
          <th class="text-right">% Of Material in part without MB</th>
          <th class="text-right">Material weight for calculation</th>
          <th class="text-right">Batch Prod Qtt Material (kg)</th>
          <th class="text-right">Annual purchasing volum (Kg)</th>
          <th class="text-right">Netto </th>
          <th class="text-right">Rate (€) </th>
          <th class="text-right">%Netto   </th>
          <th class="text-right">Parts/assy </th>
          <th class="text-right">Pressure</th>
          <th class="text-right">Length</th>
          <th class="text-right">Width</th>
          <th class="text-right">Thikness</th>
          <th class="text-right">Ray</th>
          <th class="text-right">Section</th>
          <th class="text-right">Long</th>
          <th class="text-right">Clamping force</th>
          <th class="text-right">Material costs/unit</th>

        </tr>
        </thead>

        <tbody>

        <tr>
          <td class="no">01</td>
          <td class="text-left">
            <h4 class="invoice-id">Material N1</h4>

          </td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td> <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td> <td class="unit">$0.00</td>
          <td class="qty">100</td> <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
        </tr>


        <tr>
          <td class="no">02</td>
          <td class="text-left">
            <h4 class="invoice-id">Material N1</h4>

          </td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td> <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td> <td class="unit">$0.00</td>
          <td class="qty">100</td> <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>

        </tr>

        </tbody>
        <tfoot>
        <tr>
          <td colspan="18"></td>
          <td colspan="20">	TOTAL MATERIAL</td>
          <td>$5,200.00</td>
        </tr>
        <tr>
          <td colspan="18"></td>
          <td colspan="20">	TOTAL MATERIAL</td>
          <td>$6,500.00</td>
        </tr>
        </tfoot>
      </table>


      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th  class="no">PURCHASING</th>
          <th class="text-right">Material Description</th>
          <th class="text-right">Specification	</th>
          <th class="text-right">Supplier</th>
          <th class="text-right">Part Name</th>
          <th class="text-right">Gross</th>
          <th class="text-right">Netto</th>
          <th class="text-right">Rate (€)</th>
          <th class="text-right">Transport</th>
          <th class="text-right">Scrap % </th>
          <th class="text-right">Handling% </th>
          <th class="text-right">%Netto </th>
          <th class="text-right">Parts/assy</th>
          <th class="text-right">Inserts Cost </th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="no">01</td>
          <td class="text-left">
            <h4 class="invoice-id">Material N1</h4>

          </td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>


        </tr>


        </tbody>
        <tfoot>
        <tr>
          <td colspan="6"></td>
          <td colspan="7">		TOTAL INSERT</td>
          <td>$5,200.00</td>
        </tr>
        <tr>
          <td colspan="6"></td>
          <td colspan="7">		TOTAL INSERT</td>
          <td>$6,500.00</td>
        </tr>
        </tfoot>
      </table>

      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th  class="no">OPERATION</th>
          <th class="text-left">Machine type </th>
          <th class="text-left">Machine Rate</th>
          <th class="text-left">Parts / cycle</th>
          <th class="text-left">Cycle Time</th>
          <th class="text-left">Parts per Hour</th>
          <th class="text-left">Nº Heads</th>
          <th class="text-left">Direct Labor Rate/ hour (EUR)</th>
          <th class="text-left">Scrap  %</th>
          <th class="text-left">Machine Costs</th>
          <th class="text-left">Labor Costs</th>
          <th class="text-left">Parts per Assy</th>
          <th class="text-left">TRS</th>
          <th class="text-left">Capacity ( parts /year)</th>
          <th class="text-left">Weekly capacity (6 days)</th>
          <th class="text-left">Monthly capacity</th>
          <th class="text-left">Annual capacity</th>
          <th class="text-left">Machine occupancy days</th>
          <th class="text-left">Annual Occupancy (Hours)</th>
          <th class="text-left">Annual machine occupancy</th>
          <th class="text-left">COST</th>
          <th class="text-left">Starting Costs / Process</th>

          <th class="text-right">Material costs/unit</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="no">01</td>
          <td class="text-left">
            <h4 class="invoice-id">Material N1</h4>

          </td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>
          <td class="qty">100</td>
          <td class="unit">$0.00</td>

          <td class="total">$0.00</td>
        </tr>


        </tbody>
        <tfoot>
        <tr>
          <td colspan="7"></td>
          <td colspan="8">		TOTAL INSERT</td>
          <td>$5,200.00</td>
        </tr>
        <tr>
          <td colspan="7"></td>
          <td colspan="8">		TOTAL INSERT</td>
          <td>$6,500.00</td>
        </tr>
        </tfoot>
      </table>
    </div>

    <!--<div class="thanks">Thank you!</div>-->
    <div class="notices">
      <div>NOTICE:</div>
      <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
    </div>
  </main>




</div>



</div>
</div>

