<div class="sidemenu-container navbar-collapse collapse fixed-menu">
  <div id="remove-scroll" class="left-sidemenu">
    <ul class="sidemenu  page-header-fixed sidemenu-hover-submenu" data-keep-expanded="true"
        data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
      <li class="sidebar-user-panel">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../assets/img/dp.jpg" class="img-circle user-img-circle"
                 alt="User Image"/>
          </div>
<!--          <div class="pull-left info">-->
<!--            <p>{{user.lastname}} {{user.firstName}}</p>-->
<!--            <a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline">Online</span></a>-->
<!--          </div>-->
          <div class="pull-left info">
            <p  style="color: #4680ff">{{user.username}} </p>
            <a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline">
												Online</span></a>
        </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="isAssistanteCommercial()||isDirecteur()||isCommercial()||isTechnicien() ">
        <a routerLink="/home/project" class="nav-link nav-toggle"> <i class="material-icons" style="color: #4680ff">store</i>
          <span class="title" style="color: #4680ff">Commercial Piloting</span> <span class="arrow"></span>
        </a>
      </li>

      <li class="nav-item" *ngIf="isTechnicien()||isDirecteur()||isCommercial()">
              <a href="javascript:;" class="nav-link nav-toggle">
                <i class="material-icons" style="color: #4680ff">local_library</i>
                <span class="title" style="color: #4680ff">FCOM </span>
                <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                <li class="nav-item">
                  <a routerLink="/home/allDem"  class="nav-link">
                    <span class="title">Study request</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/home/alletude"  class="nav-link">
                    <span class="title">Feasibility Study</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a a routerLink="/home/allexquise" class="nav-link">
                    <span class="title">Exquisite & Internal Feasibility</span>
                  </a>
                </li>
              </ul>
            </li>

      <li class="nav-item" *ngIf="isTechnicien()||isCommercial()||isDirecteur()">
        <a routerLink="/home/listdevis" class="nav-link nav-toggle"><i class="material-icons" style="color: #4680ff">monetization_on</i>
          <span class="title" style="color: #4680ff">Manage Quotation </span><span class="arrow"></span>
        </a>

      </li>

      <li class="nav-item" *ngIf="isTechnicien()||isDirecteur()||isCommercial()">
        <a routerLink="/home/ajouteof"  class="nav-link nav-toggle"><i class="material-icons" style="color: #4680ff">local_atm</i>
          <span class="title" style="color: #4680ff">Manage Offers </span><span class="arrow"></span>
        </a>
      </li>

      <li class="nav-item" *ngIf="isTechnicien() ||isCommercial()||isDirecteur()">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="material-icons" style="color: #4680ff">event_seat</i>
          <span class="title" style="color: #4680ff">Manage Mold </span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item">
            <a routerLink="/home/allmolddevis"  class="nav-link">
              <span class="title">Quotation Mold </span>
            </a>
          </li>
          <li class="nav-item">
            <a  routerLink="/home/allmoldoffre"  class="nav-link">
              <span class="title">Offer Mold</span>
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item" *ngIf="isAutresResponsables()||isDirecteur()||isCommercial()||isTechnicien()">
        <a  class="nav-link nav-toggle"> <i class="material-icons" style="color: #4680ff">widgets</i>
          <span class="title" style="color: #4680ff">Manage Trial</span>
        </a>

      <ul class="sub-menu">
        <li class="nav-item">
          <a routerLink="/home/allDevEss" class="nav-link">
            <span class="title">Trial Quote</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/home/allOffrEss"  class="nav-link">
            <span class="title">Trial Offer</span>
          </a>
        </li>
      </ul>

      </li>


      <li class="nav-item" *ngIf="isDirecteur()||isCommercial()||isAssistanteCommercial()||isTechnicien()">
        <a routerLink="/home/allClient" class="nav-link nav-toggle">
          <i class="material-icons" style="color: #4680ff">group </i>
          <span class="title" style="color: #4680ff">Manage Customers</span>
                   <span class="arrow"></span>
        </a>

      </li>

      <li class="nav-item" *ngIf="isresponsableachat()||isDirecteur()||isCommercial()">
        <a routerLink="/home/AjouteMat" class="nav-link nav-toggle">
          <i class="material-icons" style="color: #4680ff">add_shopping_cart</i>
          <span class="title" style="color: #4680ff">Manage Materials</span>
          <span class="arrow"></span>
        </a>
      </li>

      <li class="nav-item" *ngIf="isresponsableachat()||isTechnicien()||isDirecteur()||isCommercial()">
        <a routerLink="/home/database" class="nav-link nav-toggle">
          <i class="material-icons" style="color: #4680ff">dvr</i>
          <span class="title" style="color: #4680ff">Manage Database</span>
          <span class="arrow"></span>
        </a>
      </li>

      <li class="nav-item" *ngIf="isDirecteur()||isAdmin()">
        <a routerLink="/home/allMa" class="nav-link nav-toggle">
          <i class="material-icons" style="color: #4680ff">person_pin</i>
          <span class="title" style="color: #4680ff">Manage Managers</span>
          <span class="arrow"></span>
        </a>

      </li>

        <li class="nav-item" *ngIf="isDirecteur() ||isCommercial()||isTechnicien()||isAssistanteCommercial()||isAutresResponsables()">
            <a routerLink="/home/reclamation" class="nav-link nav-toggle"> <i class="material-icons" style="color: #4680ff">event</i>
              <span class="title" style="color: #4680ff">Reclamation</span>
            </a>
          </li>
      <li class="nav-item" *ngIf="isDirecteur()">
        <a routerLink="/home/traceability" class="nav-link nav-toggle"> <i class="material-icons" style="color: #4680ff">business</i>
          <span class="title" style="color: #4680ff">Traceability</span> <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item">
            <a routerLink="/home/tracrecpur" class="nav-link">
              <span class="title">Purchase</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/tracesales" class="nav-link">
              <span class="title">Sales</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/tracrecrec" class="nav-link">
              <span class="title">Reclamation</span>
            </a>
          </li>
        </ul>

      </li>


      <li class="nav-item" *ngIf="isDirecteur()||isTechnicien()||isCommercial()||isAssistanteCommercial()">
        <a routerLink="/home/acceuil" class="nav-link nav-toggle">
          <i class="material-icons" style="color: #4680ff">timeline</i>
          <span class="title" style="color: #4680ff">Statistical</span>
        </a>
      </li>
    </ul>
  </div>
</div>
