


<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="btn-compose pull-left" style="float: left;margin-left: 0%;">
        <ol class="breadcrumb page-breadcrumb pull-left">
          <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"> Offer D2100002 </a>&nbsp;
          </li>
        </ol>

      </div>



      <ul class="nav navbar-nav navbar-right" style="float: right;">
        <button id="panel-button"
                class="mdl-button   btn-lg mdl-button--icon pull-right"
                data-upgraded=",MaterialButton"  >
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            data-mdl-for="panel-button">
          <li class="mdl-menu__item">Modify N°Offer</li>
          <li class="mdl-menu__item">Copy url</li>


        </ul>

      </ul>



      <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 1%;">
        <a class="btn btn-lg btn-h" routerLink="" >
          <i class="glyphicon glyphicon-download-alt  pull-left"></i><i></i><span>Download</span></a>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="float: right;;margin-right: 1%;">
        <a class="btn btn-lg btn-primary " href="mailto:ammarsawssen53@gmail.com" >
          <i class="glyphicon glyphicon-envelope pull-left"></i><i></i><span>send by mail </span></a>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 1%;">
        <a class="btn btn-lg btn-youtube " routerLink="/btnRefuseFina">
          <i class="glyphicon glyphicon-floppy-remove  pull-left"></i><i></i><span>Mark as refused </span></a>
      </ul>


      <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 1%;">
        <a class="btn btn-lg btn-success" routerLink="/btnSignFina">
          <i class="glyphicon glyphicon-floppy-saved pull-left"></i><i></i><span>Mark as signed </span></a>
      </ul>



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





