
<header style="background: #fbfbfb;">


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <div class="btn-compose pull-left" style="float: left;margin-left:5%;">

      <div class="row">
        <div class="col">
          <a target="_blank" href="https://lobianijs.com">
            <img src="../../assets/img/main-logo.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 20%; padding:5px ; " >

      <h1 class="name " style="color: #2154cf ; letter-spacing: 2px ;" >Profile - Khachou Najwa</h1>

    </ul>



  </div>


</header>
<br>

            <div class="profile-sidebar">
              <div class="card ">
                <div class="card-body no-padding height-9">
                  <div class="row">
                    <div class="profile-userpic">
                      <img src="../assets/img/prof/prof4.jpg" class="img-responsive" alt="">
                    </div>
                  </div>
                  <div class="profile-usertitle">
                    <div class="profile-usertitle-name">  Khachou Najwa </div>
                    <div class="profile-usertitle-job"> Jr. Clerk </div>
                  </div>
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Berry</b> <a class="pull-right">Monastir</a>
                    </li>
                    <li class="list-group-item">
                      <b>Department</b> <a class="pull-right">Commercial</a>
                    </li>
                    <li class="list-group-item">
                      <b>Designation </b> <a class="pull-right">Technician Quote </a>
                    </li>
                  </ul>
                  <!-- END SIDEBAR USER TITLE -->
                  <!-- SIDEBAR BUTTONS -->
                  <div class="profile-userbuttons">
                    <button type="button"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btnSubmit">Message</button>
                  </div>
                  <!-- END SIDEBAR BUTTONS -->
                </div>
              </div>
              <div class="card">
                <div class="card-head ">
                  <header>Work</header>
                </div>
                  <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-6">
                      <div class="uppercase profile-stat-title"> 37 </div>
                      <div class="uppercase profile-stat-text"> Projects </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                      <div class="uppercase profile-stat-title"> 51 </div>
                      <div class="uppercase profile-stat-text"> Tasks </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                      <div class="uppercase profile-stat-title"> 61 </div>
                      <div class="uppercase profile-stat-text"> Uploads </div>
                    </div>
                  </div>

              </div>

            </div>



                <div class="card">

                  <div class="white-box">
                    <!-- Nav tabs -->
                    <div class="p-rl-20">
                      <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a href="#tab1" class="nav-link active"
                                                data-toggle="tab"> Information</a></li>
                        <li class="nav-item"><a href="#tab2" class="nav-link"
                                                data-toggle="tab">Activity</a></li>
                      </ul>
                    </div>
                    <!-- Tab panes -->

                    <div class="tab-content">

                      <div class="tab-pane active fontawesome-demo" id="tab1">
                        <div id="biography">
                          <div class="row">
                            <div class="col-md-3 col-6 b-r"> <strong>Full Name</strong>
                              <br>
                              <p class="text-muted">Celena Anderson </p>
                            </div>
                            <div class="col-md-3 col-6 b-r"> <strong>Mobile</strong>
                              <br>
                              <p class="text-muted">(123) 456 7890</p>
                            </div>
                            <div class="col-md-3 col-6 b-r"> <strong>Email</strong>
                              <br>
                              <p class="text-muted">test@example.com</p>
                            </div>
                            <div class="col-md-3 col-6"> <strong>Address</strong>
                              <br>
                              <p class="text-muted">456, Pragri flat, varacha road, Surat
                                Gujarat, India.</p>
                            </div>

                            <div class="col-md-3 col-6"> <strong>Joining Date </strong>
                              <br>
                              <p class="text-muted">09-07-2020</p>
                            </div>
                            <div class="col-md-3 col-6"> <strong>Password</strong>
                              <br>
                              <p class="text-muted">Berry2021</p>
                            </div>
                            <div class="col-md-3 col-6"> <strong>Gender</strong>
                              <br>
                              <p class="text-muted">Female</p>
                            </div>
                            <div class="col-md-3 col-6"> <strong>  Date Of Birth</strong>
                              <br>
                              <p class="text-muted">09-07-1995</p>
                            </div>

                          </div>
                          <hr>

                          <br>
                          <h4 class="font-bold">Education</h4>
                          <hr>
                          <ul>
                            <li>B.Com.,Gujarat University, Ahmedabad,India.</li>
                            <li>M.Com.,Gujarat University, Ahmedabad, India.</li>
                          </ul>
                          <br>
                          <h4 class="font-bold">Experience</h4>
                          <hr>
                          <ul>
                            <li>One year experience as Jr. Clerk from April-2009 to
                              march-2010 at B. J. Commerce College, Ahmedabad.</li>
                            <li>Three year experience as Jr. Clerk at V.S. Arts &
                              Commerse Collage from April - 2008 to April -
                              2011.</li>

                          </ul>
                          <br>

                        </div>
                      </div>

                      <div class="tab-pane" id="tab2">

                                <div class="panel-body ">
                                  <div class="mdl-tabs mdl-js-tabs">
                                    <div class="mdl-tabs__tab-bar tab-left-side">
                                      <a href="#tab4-panel"
                                         class="mdl-tabs__tab tabs_three is-active">PROJECTS</a>
                                      <a href="#tab5-panel" class="mdl-tabs__tab tabs_three">TASKS</a>
                                      <a href="#tab6-panel" class="mdl-tabs__tab tabs_three">UPLOADS</a>
                                    </div>
                                    <div class="mdl-tabs__panel is-active p-t-20" id="tab4-panel">
                                      <div class="table-responsive">
                                        <table class="table">
                                          <tbody>
                                          <tr>
                                            <th> ID</th>
                                            <th>Customer</th>
                                            <th>Name</th>
                                            <th>Predicted Date</th>
                                            <th>Cost</th>
                                            <th>Time limit</th>
                                            <th>Status</th>
                                            <th>Closing Date </th>
                                            <th>Quality </th>

                                          </tr>
                                          <tr>
                                            <td>#7234486</td>
                                            <td>Sagem</td>
                                            <td>John Deo</td>
                                            <td>05-01-2017</td>
                                            <td>1200$</td>
                                            <td>05-01-2017</td>
                                            <td><span class="label label-danger">Unpaid</span></td>
                                            <td>05-01-2017</td>
                                            <td>oui</td>
                                          </tr>
                                          <tr>
                                            <td>#7234417</td>
                                            <td>Sagem</td>
                                            <td>Eugine Turner</td>
                                            <td>04-01-2017</td>
                                            <td>1400$</td>
                                            <td>04-01-2017</td>
                                            <td><span class="label label-success">Paid</span></td>
                                            <td>04-01-2017</td>
                                            <td>oui</td>
                                          </tr>
                                          <tr>
                                            <td>#7234454</td>
                                            <td>Sagem</td>
                                            <td>Jacqueline Howell</td>
                                            <td>03-01-2017</td>
                                            <td>1100$</td>
                                            <td>03-01-2017</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td>03-01-2017</td>
                                            <td>oui</td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="text-center">
                                        <button class="btn btn-outline-primary btn-round btn-sm">Load
                                          More</button>
                                      </div>
                                    </div>
                                    <div class="mdl-tabs__panel p-t-20" id="tab5-panel">
                                      <div class="table-responsive">
                                        <table class="table">
                                          <tbody>
                                          <tr>
                                            <th> ID</th>
                                            <th>Customer</th>
                                            <th>Name</th>
                                            <th>Predicted Date</th>
                                            <th>Cost</th>
                                            <th>Time limit</th>
                                            <th>Status</th>
                                            <th>Closing Date </th>
                                            <th>Quality </th>

                                          </tr>
                                          <tr>
                                            <td>#7234417</td>
                                            <td>Sagem</td>
                                            <td>Eugine Turner</td>
                                            <td>04-01-2017</td>
                                            <td>700$</td>
                                            <td>04-01-2017</td>
                                            <td><span class="label label-success">Paid</span></td>
                                            <td>04-01-2017</td>
                                            <td>oui</td>
                                          </tr>
                                          <tr>
                                            <td>#7234454</td>
                                            <td>Sagem</td>
                                            <td>Jacqueline Howell</td>
                                            <td>03-01-2017</td>
                                            <td>500$</td>
                                            <td>03-01-2017</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td>03-01-2017</td>
                                            <td>oui</td>
                                          </tr>
                                          <tr>
                                            <td>#72544</td>
                                            <td>Sagem</td>
                                            <td>Jayesh Parmar</td>
                                            <td>03-01-2017</td>
                                            <td>400$</td>
                                            <td>03-01-2017</td>
                                            <td><span class="label label-danger">Unpaid</span></td>
                                            <td>03-01-2017</td>
                                            <td>oui</td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="text-center">
                                        <button class="btn btn-outline-primary btn-round btn-sm">Load
                                          More</button>
                                      </div>
                                    </div>
                                    <div class="mdl-tabs__panel p-t-20" id="tab6-panel">
                                      <div class="table-responsive">
                                        <table class="table">
                                          <tbody>
                                          <tr>
                                            <th> ID</th>
                                            <th>Customer</th>
                                            <th>Name</th>
                                            <th>Predicted Date</th>
                                            <th>Cost</th>
                                            <th>Time limit</th>
                                            <th>Status</th>
                                            <th>Closing Date </th>
                                            <th>Quality </th>

                                          </tr>
                                          <tr>
                                            <td>#7234421</td>
                                            <td>Sagem</td>
                                            <td>Jane Elliott</td>
                                            <td>06-01-2017</td>
                                            <td>300$</td>
                                            <td>06-01-2017</td>
                                            <td><span class="label label-primary">Paid</span></td>
                                            <td>06-01-2017</td>
                                            <td>oui</td>

                                          </tr>
                                          <tr>
                                            <td>#723344</td>
                                            <td>Sagem</td>
                                            <td>Jacqueline Howell</td>
                                            <td>03-01-2017</td>
                                            <td>450$</td>
                                            <td>03-01-2017</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td>03-01-2017</td>
                                            <td>oui</td>

                                          </tr>
                                          <tr>
                                            <td>#7235454</td>
                                            <td>Sagem</td>
                                            <td>Jacqueline Howell</td>
                                            <td>03-01-2017</td>
                                            <td>550$</td>
                                            <td>03-01-2017</td>
                                            <td><span class="label label-primary">Paid</span></td>
                                            <td>03-01-2017</td>
                                            <td>oui</td>

                                          </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="text-center">
                                        <button class="btn btn-outline-primary btn-round btn-sm">Load
                                          More</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                        </div>
                      </div>

                  </div>
                  </div>







<!-- start js include path -->
<script src="../../assets/plugins/jquery/jquery.min.js"></script>
<script src="../../assets/plugins/popper/popper.js"></script>
<script src="../../assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
<script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- bootstrap -->
<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- Common js-->
<script src="../../assets/js/app.js"></script>
<script src="../../assets/js/layout.js"></script>
<script src="../../assets/js/theme-color.js"></script>
<!-- Material -->
<script src="../../assets/plugins/material/material.min.js"></script>
