

<header style="background: #fbfbfb;">


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <div class="btn-compose pull-left" style="float: left;margin-left:5%;">

      <div class="row">
        <div class="col">
          <a target="_blank" href="https://lobianijs.com">
            <img src="../../assets/img/main-logo.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right" style="float: right;margin-right:25%; padding:5px ; " >

      <h1 class="name " style="color: #2154cf ; letter-spacing: 2px ;" >Edit Material Details</h1>

    </ul>



  </div>


</header>


<br>

    <form class="main__form">
      <div class="card-body row">
        <div class="col-lg-12 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Material Reference</label>
            <input class="mdl-textfield__input" type="text"  value="PA 12 GRILAMID TR55">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Supplier</label>
            <input class="mdl-textfield__input" type="text"  value="MISTA">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Silver Code</label>
            <input class="mdl-textfield__input" type="text"  value="A114399">

        </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Density</label>
            <input class="mdl-textfield__input" type="text"  value="1.1">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Automotive Material
            </label>
            <input class="mdl-textfield__input" type="text" id="2" value="............">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Purchasing Quantity
            </label>
            <input class="mdl-textfield__input" type="text"  value="20">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Ordered Quantity
            </label>
            <input class="mdl-textfield__input" type="text"  value="............">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Incoterm
            </label>
            <input class="mdl-textfield__input" type="text"  value="............">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Actual Purchasing Price
            </label>
            <input class="mdl-textfield__input" type="text"  value="15.636">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Sales Price
            </label>
            <input class="mdl-textfield__input" type="text"  value="............">

          </div>
        </div>

        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
            <input class="mdl-textfield__input" type="text" id="list2" value="" readonly
                   tabIndex="-1">
            <label for="list2" class="pull-right margin-0">
              <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            </label>
            <label for="list2" class="mdl-textfield__label"> Load</label>
            <ul data-mdl-for="list2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
              <li class="mdl-menu__item" data-val="DE">Fibre de verra</li>
              <li class="mdl-menu__item" data-val="BY">Fibre minerale</li>
              <li class="mdl-menu__item" data-val="BY">Talc</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Percentage Of Load
            </label>
            <input class="mdl-textfield__input" type="text" value="35">

          </div>
        </div>
        <div class="col-lg-6 p-t-20">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="mdl-textfield__label">Material Pressure
            </label>
            <input class="mdl-textfield__input" type="text"  value="............">

          </div>
        </div>


        <div class="col-lg-12 p-t-20 text-center">
          <button type="button" class="btn btn-get  mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10" >Save</button>
          <button type="button" class="btn btn-set  m-b-10">Cancel</button>
      </div>
      </div>
    </form>

