
.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}


.main__form{
  background: #ffffff;
}

.form-content
{
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control{
  border-radius:1.5rem;
}

.compose-editor{
  background: #dbdbdb;
}

.btn-get {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #fff !important;
  text-transform: capitalize;
  background:#2154cf;
  padding: 10px 20px 10px;
  position: relative;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  text-transform: capitalize !important;
}


.main__form{
  background: #ffffff;
}

.btn-set {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #fff !important;
  text-transform: capitalize;
  background:#dddddd;
  padding: 10px 20px 10px;
  position: relative;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
}










.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #4010ff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}



.btn-compose {
  padding-right:100px;
  border-right:1.5px solid #E3E3E3;

}
