<div  class="alert ">
  <div class="row">
  <h2 style="color: #FFFFFF">You are about to turn this draft into an official offer. This will assign it a number and allow you to send it to your customer.</h2>
  <h2 style="color: #FFFFFF">
    This action is not reversible. You will no longer be able to modify or delete this offer. Do you confirm this action?
  </h2>
  </div>
<br><br>
  <div class="row">
    <div class="col-md-2">
    <button type="button"  class="btn btn-success btn-lg" routerLink="/finaOf">Confirm</button>
  </div>
    <div class="col-md-6">
    <button type="button"  class="btn btn-danger  btn-lg">Cancel</button>

  </div>

</div>
</div>
