

<nav class="navbar navbar-default navbar-static-top">
  <div id="invoice">

    <div class="invoice overflow-auto">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
        <header style="background: #fbfbfb;">
          <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <div class="btn-compose pull-left" style="float: left;margin-left:10%;">

                <div class="row">
                  <div class="col">
                    <a target="_blank" href="https://lobianijs.com">
                      <img src="../../assets/img/main-logo.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 12%; padding:5px ; " >

                <h1 class="name " style="color: #2154cf ; letter-spacing: 2px ;" >
                  Manage Project

                </h1>

              </ul>



            </div>

          </div>
        </header>
        <main>


          <div class="row">

            <ul class="ds-btn">
              <li>
                <a class="btn btn-lg " href="http://dotstrap.com/">
                  <i class="glyphicon glyphicon-link pull-left"></i><span>User Profile<br><small>Lorem ipsum dolor</small></span></a>

              </li>
              <li>
                <a class="btn btn-lg btn-primary" href="http://dotstrap.com/">
                  <i class="glyphicon glyphicon-user pull-left"></i><span>User Profile<br><small>Lorem ipsum dolor</small></span></a>

              </li>
              <li>
                <a class="btn btn-lg btn-success " href="http://dotstrap.com/">
                  <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Dashboard<br><small>Lorem ipsum dolor</small></span></a>

              </li>
              <li>
                <a class="btn btn-lg btn-danger" href="http://dotstrap.com/">
                  <i class="glyphicon glyphicon-tasks pull-left"></i><span>Daily Tasks<br><small>Lorem ipsum dolor</small></span></a>

              </li>
              <li>
                <a class="btn btn-lg btn-warning" href="http://dotstrap.com/">
                  <i class="glyphicon glyphicon-search pull-left"></i><span>Search<br><small>Lorem ipsum dolor</small></span></a>
              </li>
              <li>
                <a class="btn btn-lg btn-info" href="http://dotstrap.com/">
                  <i class="glyphicon glyphicon-list pull-left"></i><span>List Group<br><small>Lorem ipsum dolor</small></span></a>
              </li>
            </ul>

          </div>








          <div class="col invoice-to " style="background:#fbfbfb; height:50px;">
            <br>
            <th style="color: #4c4848 ;text-decoration: underline;"> Preliminary data  </th>

          </div>

          <div class="panel panel-primary filterable">
            <div class="panel-heading">
              <h3 class="panel-title">Users</h3>
              <div class="pull-right" >
                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
              </div>
            </div>
            <table class="table">
              <thead>
              <tr class="filters">
                <th><input type="text" class="form-control" placeholder="#" disabled></th>
                <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
                <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
                <th><input type="text" class="form-control" placeholder="Username" disabled></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              </tbody>
            </table>
          </div>

          <a class="box-btn" style="float: right;margin-right: 2%;">Save</a>
        </main>
      </div>

    </div>
  </div>


</nav>
