
<header style="background: #fbfbfb;">


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <div class="btn-compose pull-left" style="float: left;margin-left:10%;">

      <div class="row">
        <div class="col">
          <a target="_blank" href="https://lobianijs.com">
            <img src="../../assets/img/main-logo.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 18%; padding:5px ; " >

      <h1 class="name " style="color: #2154cf ; letter-spacing: 2px ;" >Basic Information - Manager</h1>

    </ul>



  </div>


</header>
<br>




  <div class="form-content">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-3">First Name
            <span class="required"> * </span>
          </label>
          <input type="text" class="form-control" placeholder="enter first name " value=""/>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Last Name
            <span class="required"> * </span>
          </label>
          <input type="text" class="form-control" placeholder="enter last name " value=""/>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Email
            <span class="required"> * </span>
          </label>
          <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-envelope"></i>
														</span>

            <input type="text" class="form-control" placeholder="Email address " value=""/> </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Joining Date
            <span class="required"> * </span>
          </label>
          <div class="input-group" >
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control" placeholder="joining date " value=""/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Password
            <span class="required"> * </span>
          </label>
          <input type="text" class="form-control" placeholder="enter password " value=""/>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6">Confirm Password
            <span class="required"> * </span>
          </label>
          <input type="text" class="form-control" placeholder="reenter your password *" value=""/>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Mobile No.
            <span class="required"> * </span>
          </label>
          <input type="text" class="form-control" placeholder="mobile number" value=""/>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Designation
            <span class="required"> * </span>
          </label>
          <input type="text" class="form-control" placeholder="enter your designation " value=""/>
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label class="control-label col-md-3">Departments
            <span class="required"> * </span>
          </label>
          <select class="form-control input-height" name="department">
            <option value="">Select...</option>
            <option value="Category 1">Administration</option>
            <option value="Category 2">Commercial</option>
            <option value="Category 3">Achat</option>
            <option value="Category 4">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Gender
            <span class="required"> * </span>
          </label>
          <select class="form-control input-height" name="gender">
            <option value="">Select...</option>
            <option value="Category 1">Male</option>
            <option value="Category 2">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6">Date Of Birth
            <span class="required"> * </span>
          </label>
          <div class="input-group" >
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control" placeholder="Birth Date " value=""/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Address
            <span class="required"> * </span>
          </label>
          <textarea type="text" class="form-control" placeholder="address" value="">
            </textarea>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Country
            <span class="required"> * </span>
          </label>
          <select class="form-control input-height" name="department">
            <option value="">Select...</option>
            <option value="Category 1">Monastir</option>
            <option value="Category 2">Sousse</option>
            <option value="Category 3">France</option>
            <option value="Category 4">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label col-md-6">Profile Picture
          </label>
          <div class="compose-editor">
            <input type="file" class="default" multiple>
            <br>
          </div>
        </div>

      </div>
    </div>
    <button type="button" class="btnSubmit pull-right ">Save</button>

  </div>

