

<nav class="navbar navbar-default navbar-static-top">
  <div id="invoice">

    <div class="invoice overflow-auto">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
        <header style="background: #fbfbfb;">
          <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <div class="btn-compose pull-left" style="float: left;margin-left:10%;">

                <div class="row">
                  <div class="col">
                    <a target="_blank" href="https://lobianijs.com">
                      <img src="../../assets/img/main-logo.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 9.5%; padding:5px ; " >

                <h1 class="name" style="color: #2154cf ; letter-spacing: 2px">
                    Exquisite & Internal Feasibility

                </h1>

              </ul>



            </div>

          </div>
        </header>
        <main>

          <div class="row">

            <div class="col-md-12 ">

                <table class="table table-bordered">

                  <tr style="background:#fbfbfb;" >
                    <th style="color:#4c4848" >General mold concept</th>

                  </tr>

                  <tr style="background:#fbfbfb;">

							<textarea name="formsummernote" cols="192" rows="30">

					        </textarea>


                  </tr>


                  <div class="form-group">
                    <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture
                    </label>
                    <div class="compose-editor">
                      <input type="file" class="default" multiple>
                      <br>
                    </div>
                  </div>


                </table>

            </div></div>
         <br>
          <div class="row">

            <div class="col-md-12 ">

              <table class="table table-bordered">

                <tr style="background:#fbfbfb;">
                  <th style="color: #4c4848">Carrot concept</th>

                </tr>

                <tr style="background:#fbfbfb;">

							<textarea name="formsummernote"  cols="192" rows="30">

					        </textarea>


                </tr>


                <div class="form-group">
                  <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture
                  </label>
                  <div class="compose-editor">
                    <input type="file" class="default" multiple>
                    <br>
                  </div>
                </div>

              </table>


            </div></div>
          <br>

          <div class="row">

            <div class="col-md-12 ">

              <table class="table table-bordered">

                <tr style="background:#fbfbfb;">
                  <th style="color: #4c4848">Injection type</th>

                </tr>

                <tr style="background:#fbfbfb;">

							<textarea name="formsummernote"  cols="192" rows="30">

					        </textarea>


                </tr>


                <div class="form-group">
                  <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture
                  </label>
                  <div class="compose-editor">
                    <input type="file" class="default" multiple>
                    <br>
                  </div>
                </div>

              </table>


            </div></div>
          <br>

          <div class="row">

            <div class="col-md-12 ">

              <table class="table table-bordered">

                <tr style="background:#fbfbfb;">
                  <th style="color: #4c4848">Necessary arrangement</th>

                </tr>

                <tr style="background:#fbfbfb;">


							<textarea name="formsummernote"  cols="192" rows="30">

					        </textarea>



                </tr>


                <div class="form-group">
                  <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture
                  </label>
                  <div class="compose-editor">
                    <input type="file" class="default" multiple>
                    <br>
                  </div>
                </div>

              </table>


            </div></div>
          <br>

          <div class="row">

            <div class="col-md-12 ">

              <table class="table table-bordered">

                <tr style="background:#fbfbfb;">
                  <th style="color: #4c4848">Improvement arrangement</th>

                </tr>

                <tr style="background:#fbfbfb;">


							<textarea name="formsummernote"  cols="192" rows="30">

					        </textarea>



                </tr>


                <div class="form-group">
                  <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture
                  </label>
                  <div class="compose-editor">
                    <input type="file" class="default" multiple>
                    <br>
                  </div>
                </div>

              </table>


            </div></div>
          <br>

          <br>
          <a class="box-btn" style="float: right;margin-right: 2%;">Save</a>

        </main>
      </div>

    </div>
  </div>


</nav>

