<div class="bg-img">

  <div class="content" *ngIf="appState == AppState.email">
    <header>Reset your password</header>
    <form [formGroup]="resetForm">
      <div class="field" style="  border: 4px solid #3498db">
        <span class="fa fa-user"></span>
        <input type="email" required placeholder="Email" class="form-control" formControlName="email"
               [ngClass]="{'is-invalid': submit && f.username.errors}">
        <div *ngIf="submit && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors?.required"> E'mail est obligatoire</div>
        </div>
      </div>


      <div class="field">
        <input type="submit" value="SEND" (click)="onReset()">
      </div>
    </form>


  </div>


  <div class="content" *ngIf="appState == AppState.verif">
    <header>Enter the code you received</header>
    <div class="field" style="  border: 4px solid #3498db">
      <span class="fa fa-user"></span>
      <input [(ngModel)]="code" type="text" required placeholder="Code" class="form-control">

    </div>


    <div class="field">
      <input type="submit" value="Verify" (click)="verifyCode()">
    </div>


  </div>


  <div class="content" *ngIf="appState == AppState.password">
    <div class="field" style="  border: 4px solid #3498db">
      <span class="fa fa-user"></span>
      <input [(ngModel)]="password" type="password" required placeholder="Password" class="form-control"
             
      >

    </div>


    <div class="field">
      <input type="submit" value="Change Password" (click)="changePassword()">
    </div>


  </div>


</div>

