.btnSubmit
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 40%;
  cursor: pointer;
  background: #e77808;
  color: #fff;
}
.btn-compose {
  padding-right:100px;
  border-right:1.5px solid #E3E3E3;

}
