
<div class="borderBox light bordered card-box">
  <div class="tab-pane active fontawesome-demo" >
    <div class="row">
      <div class="col-md-12">
        <div class="card card-box">
          <div class="card-head">
            <header style="color: #2154cf ; letter-spacing: 2px ;">Profile - Khachou Najwa</header>
          </div>
          <div class="card-body ">
            <div class="row">

              <div class="profile-sidebar">
                <div class="card ">
                  <div class="card-body no-padding height-9">
                    <div class="row">
                      <div class="profile-userpic">
                        <img src="../assets/img/prof/prof4.jpg" class="img-responsive" alt="">
                      </div>
                    </div>
                    <div class="profile-usertitle">
                      <div class="profile-usertitle-name">  Khachou Najwa </div>
                      <div class="profile-usertitle-job"> Jr. Clerk </div>
                    </div>
                  </div>
                </div>
              </div>



              <div class="card col-md-9">

                <div class="white-box">

                  <div class="tab-content">


                        <div class="row">
                          <div class="col-md-3 col-6 b-r"> <strong>Full Name</strong>
                            <br>
                            <p class="text-muted">Celena Anderson </p>
                          </div>
                          <div class="col-md-3 col-6 b-r"> <strong>Mobile</strong>
                            <br>
                            <p class="text-muted">(123) 456 7890</p>
                          </div>
                          <div class="col-md-3 col-6 b-r"> <strong>Email</strong>
                            <br>
                            <p class="text-muted">test@example.com</p>
                          </div>
                          <div class="col-md-3 col-6"> <strong>Address</strong>
                            <br>
                            <p class="text-muted">456, Pragri flat, varacha road, Surat
                              Gujarat, India.</p>
                          </div>
                          <div class="col-md-3 col-6"> <strong>Joining Date </strong>
                            <br>
                            <p class="text-muted">09-07-2020</p>
                          </div>
                          <div class="col-md-3 col-6"> <strong>Password</strong>
                            <br>
                            <p class="text-muted">Berry2021</p>
                          </div>
                          <div class="col-md-3 col-6"> <strong>Gender</strong>
                            <br>
                            <p class="text-muted">Female</p>
                          </div>
                          <div class="col-md-3 col-6"> <strong>  Date Of Birth</strong>
                            <br>
                            <p class="text-muted">09-07-1995</p>
                          </div>
                        </div>




                  </div>

                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>







<!-- start js include path -->
<script src="../../../assets/plugins/jquery/jquery.min.js"></script>
<script src="../../../assets/plugins/popper/popper.js"></script>
<script src="../../../assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
<script src="../../../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- bootstrap -->
<script src="../../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- Common js-->
<script src="../../../assets/js/app.js"></script>
<script src="../../../assets/js/layout.js"></script>
<script src="../../../assets/js/theme-color.js"></script>
<!-- Material -->
<script src="../../../assets/plugins/material/material.min.js"></script>
