


          <header style="background: #fbfbfb;">


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <div class="btn-compose pull-left" style="float: left;margin-left:10%;">

                <div class="row">
                  <div class="col">
                    <a target="_blank" href="https://lobianijs.com">
                      <img src="../../assets/img/main-logo.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 18%; padding:5px ; " >

                <h1 class="name " style="color: #2154cf ; letter-spacing: 2px ;" >
                  Quotation Dashboard

                </h1>

              </ul>



            </div>

        </header>

          <div class="pull-right" >

            <ul class="ds-btn" >

              <li>
                <a class="panel  btn-success " >
                  <span>Target 85%</span></a>

              </li>

              <li>
                <a class="panel btn-warning" >
                  <span>60% à 85%</span></a>
              </li>
              <li>
                <a class="panel btn-danger" >
                  <span>Inf à 60%</span></a>

              </li>
            </ul>

          </div>
          <br>
          <div class="panel filterable" style="border-color:#2154cf ">



              <table class="table table-bordered  " >
                <thead  >

                <tr class="filters" >
                  <th style="color:  #2154cf">Month</th>
                  <th style="color:  #2154cf">Octobe-20</th>
                  <th style="color:  #2154cf">November-20</th>
                  <th style="color:  #2154cf">December-20</th>
                  <th style="color: #2154cf">January-21</th>
                  <th style="color:  #2154cf">February-21</th>
                  <th style="color:  #2154cf">March-21</th>
                  <th style="color: #2154cf">April-21</th>
                  <th style="color:  #2154cf">May-21</th>
                  <th style="color:  #2154cf">June-21</th>
                  <th style="color:  #2154cf">July-21</th>
                  <th style="color:  #2154cf">August-21</th>
                  <th style="color:  #2154cf">September-21</th>
                  <th style="color:  #2154cf">YTD (20-21)</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                  <th style="color:  #2154cf">Num RFQ (received)</th>
                  <th >6</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>


                </tr>
                <tr>
                  <th  style="color:  #2154cf">TO Offer K€</th>
                  <th > 2325</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>



                </tr>
                <tr>
                  <th style="color:  #2154cf">TO Won RFQ current period (K€)</th>
                  <th>0</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>


                </tr>
                <tr>
                  <th style="color:  #2154cf">TO Won RFQ Previous period (K€)</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>

                </tr>
                <tr>
                  <th style="color:  #2154cf">Conversion rate CA</th>
                  <th>0%</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>

                </tr>

                <tr>
                  <th style="color:  #2154cf" >Num RFQ late</th>
                  <th>2</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>

                  <th></th>

                </tr>
                <tr>
                  <th   style="color:  #2154cf">Deadline compliance rate</th>
                  <th>67%</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>

                </tr>


                </tbody>

              </table>

            </div>

          <div class="card edit-parameters btn-bordered-primary"  style="background:#fff;color:#0f1113;width:100%">

            <ul class="ds-btn" style="background:#2154cf">
              <li class="pull-left" style="float: left;margin-left: 0%;" >
                <a class="btn btn-sm "  routerLink="/addProject" style="background: #FFFFFF;color:#2154cf ">
                  <i class="glyphicon glyphicon-plus-sign pull-left"></i><span>Add new project</span></a>

              </li>
              <li>
                <a class="btn btn-sm btn-primary" href="http://dotstrap.com/">
                  <i class="glyphicon glyphicon-edit pull-left"></i><span>Edit project</span></a>

              </li>

              <li>
                <a class="btn btn-sm btn-danger" href="http://dotstrap.com/">
                  <i class="glyphicon glyphicon-remove pull-left"></i><span>Delete project</span></a>

              </li>
              <li  class="pull-right">
                <a class="btn btn-sm btn-warning"  >
                  <i class="glyphicon glyphicon-filter pull-left"></i><span>Filter by customer</span></a>
              </li>
              <li  class="pull-right">
                <a class="btn btn-sm btn-warning"  >
                  <i class="glyphicon glyphicon-filter pull-left"></i><span>Filter by year</span></a>
              </li>
              <li  class="pull-right">
                <a class="btn btn-sm btn-warning" >
                  <i class="glyphicon glyphicon-filter pull-left"></i><span>Filter by month</span></a>
              </li>

            </ul>

              <div class="table-scrollable">
              <table class="table table-bordered ">
                <thead>
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Month</th>
                  <th scope="col">Consult N ° / month</th>
                  <th scope="col">Revision index</th>
                  <th scope="col">N° Offer</th>
                  <th scope="col">Commercial Berry in charge</th>
                  <th scope="col">Customer-Group</th>
                  <th scope="col">Requesting site RFQ</th>
                  <th scope="col">Buyer</th>
                  <th scope="col">Reference RFQ</th>
                  <th scope="col">Project</th>
                  <th scope="col">Designation</th>
                  <th scope="col">Ref</th>
                  <th scope="col">Date RFQ</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Response statuses</th>
                  <th scope="col">Date Offer</th>
                  <th scope="col">Last Offer Date</th>
                  <th scope="col">Delivery site</th>
                  <th scope="col">Annual volume</th>
                  <th scope="col">Part type: PF / SF</th>
                  <th scope="col">Material</th>
                  <th scope="col">Net weight (gr)</th>
                  <th scope="col">Material price (€ / kg)</th>
                  <th scope="col">Tonnage</th>
                  <th scope="col">TC</th>
                  <th scope="col">Completion</th>
                  <th scope="col">Number emp of mold</th>
                  <th scope="col">Unit price</th>
                  <th scope="col">CA</th>
                  <th scope="col">GPM</th>
                  <th scope="col">Productivity</th>
                  <th scope="col">Mold purchase price</th>
                  <th scope="col">Selling price</th>
                  <th scope="col">Mouliste</th>
                  <th scope="col">Capex</th>
                  <th scope="col">Project Status</th>
                  <th scope="col">Cause of project loss</th>
                  <th scope="col">Project Manager</th>
                  <th scope="col">Decision date</th>
                  <th scope="col">Date SOP</th>
                  <th scope="col">SOP</th>
                  <th scope="col">SOP+1</th>
                  <th scope="col">SOP+2</th>
                  <th scope="col">SOP+3</th>
                  <th scope="col">SOP+4</th>
                  <th scope="col">SOP+5</th>
                  <th scope="col">SOP+6</th>
                  <th scope="col">SOP+7</th>
                  <th scope="col">SOP+8</th>


                </tr>
                </thead>
                <tbody>

                <tr >
                  <td>2020</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>jnh</td>
                  <td>OF2</td>
                  <th>LSU 40</th>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>



                </tr>
                <tr >
                  <td>2020</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>jnh</td>
                  <td>OF2</td>
                  <th>LSU 40</th>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>



                </tr>
                <tr >
                  <td>2020</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>jnh</td>
                  <td>OF2</td>
                  <th>LSU 40</th>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>
                  <td>180$</td>
                  <td>Finalized</td>
                  <td>OF2</td>
                  <td>22/03/2021</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Quote2</td>
                  <td>Sagem</td>
                  <td>Injection</td>



                </tr>

                </tbody>
              </table>

              </div>


          </div>
       <!--   <a class="box-btn" style="float: right;margin-right: 0%;">Save</a> -->






