<div class="borderBox light bordered card-box">
  <div class="tab-pane active fontawesome-demo">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-box">
          <div class="card-head">
            <header style="color: #2154cf ; letter-spacing: 2px ;">Profile - {{user.username}}</header>
          </div>
          <div class="card-body ">
            <div class="row">

              <div style="margin:auto !important;" class="profile-sidebar">
                <div class="card ">
                  <div class="card-body no-padding height-9">
                    <div class="row">
                      <div class="profile-userpic">
                        <img [src]="user.profilePicture" class="img-responsive" alt="">
                      </div>
                    </div>
                    <div class="profile-usertitle">
                      <div class="profile-usertitle-name">  {{user.firstName}} {{user.lastname}} </div>
                      <div class="profile-usertitle-job"> {{user.designation}} - {{user.departments}}</div>
                    </div>
                  </div>
                </div>
              </div>


              <div style="margin:auto !important;" class="card col-md-9">

                <div class="white-box">

                  <div class="tab-content">


                    <div class="row">
                      <div class="col-md-3 col-6 b-r"><strong>Full Name</strong>
                        <br>
                        <p class="text-muted">{{user.firstName}} {{user.lastname}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r"><strong>Mobile</strong>
                        <br>
                        <p class="text-muted">{{user.mobileNo}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r"><strong>Email</strong>
                        <br>
                        <p class="text-muted">{{user.email}}</p>
                      </div>
                      <div class="col-md-3 col-6"><strong>Address</strong>
                        <br>
                        <p class="text-muted">{{user.country}}</p>
                      </div>
                      <div class="col-md-3 col-6"><strong>Joining Date </strong>
                        <br>
                        <p class="text-muted">{{user.joiningDate}}</p>
                      </div>
                      <!--                      <div class="col-md-3 col-6"> <strong>Password</strong>-->
                      <!--                        <br>-->
                      <!--                        <p class="text-muted">Berry2021</p>-->
                      <!--                      </div>-->
                      <div class="col-md-3 col-6"><strong>Gender</strong>
                        <br>
                        <p class="text-muted">{{user.gender}}</p>
                      </div>
                      <div class="col-md-3 col-6"><strong> Date Of Birth</strong>
                        <br>
                        <p class="text-muted">09-07-1995</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div *ngIf="showAlert && changeSuccess" class="alert alert-success">
                          Success
                        </div>
                      </div>
                      <div class="col-12">
                        <div *ngIf="showAlert && !changeSuccess" class="alert alert-danger">
                          Fail
                        </div>
                      </div>
                      <div class="col-4">
                        <button (click)="changePass(passInput)" class="btn btn-primary">
                          Change password
                        </button>
                      </div>
                      <div class="col-8">
                        <input type="password" #passInput class="pass-input" placeholder="Password"/>
                      </div>
                    </div>


                  </div>

                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
