





        <header style="background: #fbfbfb;">
          <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <div class="btn-compose pull-left" style="float: left;margin-left:10%;">

                <div class="row">
                  <div class="col">
                    <a target="_blank" href="https://lobianijs.com">
                      <img src="../../assets/img/main-logo.png" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <ul class="nav navbar-nav navbar-right" style="float: right;margin-right: 15%; padding:5px ; " >

                <h2 class="name " style="color: #2154cf ; letter-spacing: 2px ;" >
                    Request Study Consultation

                </h2>

              </ul>



            </div>

          </div>
        </header>
        <main>
          <br>
          <div class="col invoice-to " style="background:#fbfbfb; height:50px;">
             <br>
              <th style="color: #4c4848 ;text-decoration: underline;"> Preliminary data  </th>

            </div>

          <div class="row">

            <div class="col-md-12 ">
              <div class="table-scrollable"style="border-color:#2154cf ">
                <table class="table table-bordered" >
                  <tbody>
                  <tr >
                    <th class="col-md-4" >Customer</th>

                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width ">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Customer1</option>
                        <option value="Category 1">Customer2</option>

                      </select>
                    </td>
                  </tr>

                  <tr >
                    <th >Final customer</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>


                  </tr>
                  <tr >
                    <th >Sales representative</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>

                  </tr>
                  <tr >
                    <th >Project</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>

                  </tr>
                  <tr  >
                    <th >N°RFQ customer</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>


                  </tr>
                  <tr >
                    <th >Number of references</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th >N°Offer (According to monitoring project file)</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th >Date of receipt of the consultation</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th >Delivery date of the customer requested offer</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>

                  </tr>
                  <tr >
                    <th>Return date of quotation to the sales representative</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>

                  </tr>



                  </tbody>
                </table>
              </div>

            </div></div>
          <br>


          <div class="col invoice-to"style="background:#fbfbfb; height:50px;">
            <br>
              <th style="color: #4c4848 ;text-decoration: underline;"> Customer received data check  </th>

            </div>

          <div class="row">

            <div class="col-md-12 ">
              <div class="table-scrollable"style="border-color:#2154cf ">
                <table class="table table-bordered">
                  <tbody>
                  <tr >
                    <th></th>
                    <th >State (Received / Unsuccessful)</th>
                    <th>Comments</th>
                  </tr>

                  <tr >
                    <th class="col-md-4">Site to deliver</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>


                  </tr>

                  <tr >
                    <th >Incoterm</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th >Annual quantity</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>

                  </tr>
                  <tr  >
                    <th>MOQ</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>

                  </tr>
                  <tr >
                    <th>Lifetime Project</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th>2D drawing</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th >3D part (igs/step)</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th>Draft(sketch)</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th>Sample</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>

                  <tr >
                    <th>Specific requirements</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>

                  <tr >
                    <th>Packaging: standard / special</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>

                  <tr >
                    <th>Quality and metrology</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>

                  <tr >
                    <th>Other</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>



                  </tbody>
                </table>
              </div>

            </div></div>
          <br>


          <div class="col invoice-to"style="background:#fbfbfb; height:50px;">
              <br>
              <th style="color: #4c4848 ; ;text-decoration: underline; ">Techniques to study  </th>
            </div>

          <div class="row">

            <div class="col-md-12 ">
              <div class="table-scrollable"style="border-color:#2154cf ">
                <table class="table table-bordered">
                  <tbody>
                  <tr >
                    <th></th>
                    <th >State (Yes / No)</th>
                    <th>Comments</th>
                  </tr>

                  <tr >
                    <th class="col-md-4">Molding 1k</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>


                  </tr>
                  <tr >
                    <th >Overmolding</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>

                  </tr>
                  <tr >
                    <th >Bi-injection</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>

                  <tr >
                    <th>Assembly</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th>Pad printing</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th >Ultrasonic welding</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th>hot stamping</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>

                  </tr>
                  <tr >
                    <th>painting</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>

                  <tr >
                    <th>Other</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" class="col-md-2">
                      <select class="mdl-textfield__input " name="gender">
                        <option value="Category 1">Select</option>
                        <option value="Category 1">Received</option>
                        <option value="Category 2">Unsuccessful</option>
                      </select></td>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>

            </div></div>
          <br>


          <div class="col invoice-to"style="background:#fbfbfb; height:50px;">
             <br>
              <th style="color: #4c4848 ;text-decoration: underline; "> Economic data </th>

            </div>

          <div class="row">

            <div class="col-md-12 ">
              <div class="table-scrollable" style="border-color:#2154cf ">
                <table class="table table-bordered">
                  <tbody>
                  <tr >
                    <th class="col-md-4">Target customer part price </th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>

                  <tr >
                    <th >target customer invest</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th >Annual CA Estimate</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>
                  <tr >
                    <th >Productivity plan due</th>
                    <td class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                      <input class="mdl-textfield__input" type="text" >
                    </td>
                  </tr>




                  </tbody>
                </table>
              </div>
              <a class="box-btn" style="float: right;margin-right: 0%;">Save</a>
            </div></div>
          <br>

        </main>



