<div class="borderBox light bordered card-box">
  <div class="tab-pane active fontawesome-demo" >
    <div class="row">
      <div class="col-md-12">
        <div class="card card-box">
          <div class="card-head">
            <header>Exquisite & Internal Feasibility</header>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6"><a style="font-family:Bahnschrift">Date</a></div>
              <div class="col-md-6 col-sm-6 col-6"><a style="font-family:Bahnschrift">Client</a></div>
              <div class="col-md-6 col-sm-6 col-6"><input class="form-control mdl-textfield__input" type="date" formControlName="date" disabled>
              </div>
              <div class="col-md-6 col-sm-6 col-6"><input class="form-control mdl-textfield__input" type="text" formControlName="">
              </div>
              <br><br>
              <div class="col-md-6 col-sm-6 col-6"><a style="font-family:Bahnschrift">Project</a></div>
              <div class="col-md-6 col-sm-6 col-6"><a style="font-family:Bahnschrift">DOC N°°</a></div>
              <div class="col-md-6 col-sm-6 col-6">
                <input class="form-control mdl-textfield__input" type="text" formControlName="">
              </div>
              <div class="col-md-6 col-sm-6 col-6">
                <input class="form-control mdl-textfield__input" type="text" formControlName="" placeholder="DOC N°">
              </div>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-bordered" >
                  <tr class="btn-primary"><th>General mold concept</th></tr>
                  <tr style="background:#fbfbfb;"><textarea name="formsummernote" cols="218" rows="10"></textarea></tr>
                  <div class="form-group" style="background: #FFFFFF">
                    <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture</label>
                    <div class="compose-editor"><input type="file" class="default" multiple><br></div>
                  </div>
                </table>
                <br>
                <table class="table table-bordered">
                  <tr class="btn-primary"><th>Carrot concept</th></tr>
                  <tr style="background:#fbfbfb;"><textarea name="formsummernote" cols="218" rows="10"></textarea></tr>
                  <div class="form-group"style="background: #FFFFFF">
                    <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture</label>
                    <div class="compose-editor"><input type="file" class="default" multiple><br></div>
                  </div>
                </table>
                <br>
                <table class="table table-bordered">
                  <tr class="btn-primary"><th>Injection type</th></tr>
                  <tr style="background:#fbfbfb;"><textarea name="formsummernote" cols="218" rows="10"></textarea></tr>
                  <div class="form-group"style="background: #FFFFFF">
                    <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture</label>
                    <div class="compose-editor"><input type="file" class="default" multiple><br></div>
                  </div>
                </table>
                <br>
                <table class="table table-bordered">
                  <tr class="btn-primary"><th>Necessary arrangement</th></tr>
                  <tr style="background:#fbfbfb;"><textarea name="formsummernote" cols="218" rows="10"></textarea></tr>
                  <div class="form-group"style="background: #FFFFFF">
                    <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture</label>
                    <div class="compose-editor"><input type="file" class="default" multiple><br></div>
                  </div>
                </table>
                <br>
                <table class="table table-bordered">
                  <tr class="btn-primary"><th>Improvement arrangement</th></tr>
                  <tr style="background:#fbfbfb;"><textarea name="formsummernote" cols="218" rows="10"></textarea></tr>
                  <div class="form-group"style="background: #FFFFFF">
                    <label class="control-label col-md-6" style="color: #4c4848 ;text-decoration: underline;font-family: Bahnschrift">Profile Picture</label>
                    <div class="compose-editor"><input type="file" class="default" multiple><br></div>
                  </div>
                </table>
              </div>
            </div>
          </div>
        </div>
        <button type="reset"  class="btn btn-default" style="float: right;padding: 8px 40px;font-size: 16px;">Cancel</button>
        <button type="submit" class="btn btn-primary" style="float: right;margin-right: 1%;padding: 8px 50px;font-size: 16px;">Save</button>
      </div>
    </div>
  </div>
</div>





































































