/* You can add global styles to this file, and also import other style files */
body{
  background-color: #eaeef3;;
}
.white-sidebar-color .page-container {
  background-color: #eaeef3 !important;
}

.page-content-wrapper{
  max-height: 100vh;
  overflow: auto;
}
