<nav class="navbar navbar-default navbar-static-top">
  <div class="input-group">
    <div class="input-group-btn search-panel">
      <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
        <span id="search_concept">Filter by</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a >Month</a></li>
        <li><a >Year</a></li>
      </ul>
    </div>
    <input type="hidden" name="search_param" value="all" id="search_param">
    <input type="text" class="form-control" name="x" placeholder="Search ...">
    <span class="input-group-btn">
                    <button class="btn " type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
  </div>
</nav>




<div  class="form-group col-md-12">

<!--
  <li id="nav-C-tab" data-toggle="tab"   href="#nav-C" role="tab" aria-controls="nav-C"></li>
-->
      <ul class="nav navbar-nav ">
        <div class="card-header" style="color:#428bca" >
          <a  class="dropdown-toggle  btn-bordered-primary" data-toggle="dropdown" style="color:#428bca; " >Select a receiver</a>

        <div class="form-group multiple-form-group input-group" style="    height: 40px;
    width: 1187px;">
          <div class="input-group-btn input-group-select">
              <select  id="country-select222" class="form-control"
              name="client" [ngModel]="selectclient" (change)='onChangeSelectedClient($event)' [ngModelOptions]="{standalone: true}">
                <option style=" font-size: 18px;"  selected="{{s.fullname}}" [value]="s.id" *ngFor="let s of listclient">{{s.fullname}}</option>
              </select >
            </div>
        </div>
        </div>
            <li class="divider"></li>


        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent1"  *ngIf="show === true">
<!--
          <div class="tab-pane fade show active " id="nav-C" role="tabpanel" aria-labelledby="nav-C-tab">
-->


            <div class="card edit-parameters btn-bordered-primary"  style="background:#fff;color:#0f1113;width:100%;right: 14px" >
              <div class="card-header" style="color:#428bca" >
                <div class="form-group multiple-form-group input-group">
                  <div class="input-group-btn input-group-select">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      <span class="concept" for="country-select2">N° Project</span>
                    </button>

                  </div>
                  <select id="country-select2" class="form-control"  name="projet" [ngModel]="selectprojet" (change)='onChangeSelectedProjet($event)' [ngModelOptions]="{standalone: true}">
                    <option></option>

                    <option selected="{{s.projet}}" [value]="s.id" *ngFor="let s of listprojet">{{s.projet}}</option>

                  </select>
                </div>
              </div>
              <div class="card-header" style="color:#428bca">
                <div class="form-group multiple-form-group input-group">
                  <div class="input-group-btn input-group-select">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                      <span class="concept" for="country-select" >Quotation</span>
                    </button>

                  </div>
                  <select id="country-select" class="form-control"  name="devis" [ngModel]="selectdevis" (change)='onChangeSelectedDevis($event)' [ngModelOptions]="{standalone: true}">
                    <option></option>
                    <option selected="{{s.NumDocDevis}}" [value]="s.id" *ngFor="let s of listdevis">{{s.NumDocDevis}}</option>

                  </select>
                </div>
              </div>



              <div class="card-header" style="color:#428bca">
              <a routerLink="/ajouted" class="btn btn-primary btn-sm  pull-right"><b>+</b> Add new offer</a>
              </div>
              <div class="card-body ">

                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">N°Offre</th>
                    <th scope="col">Date</th>
                    <th scope="col">N° Quotation</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Project</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col" >Action</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr class="active" *ngFor="let e of listoffre" >
                    <th scope="row">3</th>
                    <td>{{}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <a class='btn btn-success btn-xs' ><span class="glyphicon glyphicon-home"></span> </a>
                      <a class='btn btn-primary btn-xs' ><span class="glyphicon glyphicon-edit"></span></a>
                      <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> </a>

                    </td>
                  </tr>

                  </tbody>
                </table>



              </div>
            </div>
          </div>
<!--
        </div>
-->


      </ul>
</div>



