
/*Navbar*/
.navbar-default {
  background-color:#fff;
  border-bottom-color:#E3E3E3 ;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
  background-color:transparent!important;
}
.navbar-default .btn-compose {
  padding-right:10px;
  border-right:1px solid #F0F0F0;

}
/*Forms setup*/
.form-control {
  border-radius:0;
  box-shadow:none;
  height:auto;
}
.float-label{
  font-size:10px;
}
input[type="text"].form-control,
input[type="search"].form-control{
  border:none;
  border-bottom:1px dotted #CFCFCF;
}
textarea {
  border:1px dotted #CFCFCF!important;
  height:130px!important;
}
/*Content Container*/
.content-container {
  background-color:#fff;
  padding:35px 20px;
  margin-bottom:20px;
}
h1.content-title{
  font-size:32px;
  font-weight:300;
  text-align:center;
  margin-top:0;
  margin-bottom:20px;
  font-family: 'Open Sans', sans-serif!important;
}
/*Compose*/
.btn-send{
  text-align:center;
  margin-top:20px;
}
/*mail list*/


.col-xs-12{
  background-color: #e2e6e9;
}

h1.page-header {
  margin-top: -5px;
}

.sidebar {
  padding-left: 0;
}

.main-container {
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px;
}





.btn-h {
  color:#FFFFFF;

  background:#e77808;
}










#country-select{

  padding: 7.3px;
}



#country-select2{

  padding: 7.3px;
}


#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
  width:1370px;

}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width:1370px;
}

#custom-search-input button {
  border: 0;
  background: none;

  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}

.search-query:focus + button {
  z-index: 3;
}


.dropdown {
  background:#fff;
  border:1px solid #eaeaea;
  border-radius:4px;
  width:1745px;
  right: 14px;



}

.dropdown-menu>li>a {
  color:#428bca;
  width:1745px;

}

.dropdown ul.dropdown-menu {
  border-radius:4px;
  box-shadow:none;
  margin-top:20px;
  width:1745px;


}

.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}

.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;






}






















