<nav class="navbar navbar-default navbar-static-top">
  <div class="input-group">
    <div class="input-group-btn search-panel">
      <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
        <span id="search_concept">Filter by</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a >Month</a></li>
        <li><a >Year</a></li>
      </ul>
    </div>
    <input type="hidden" name="search_param" value="all" id="search_param">
    <input type="text" class="form-control" name="x" placeholder="Search ...">
    <span class="input-group-btn">
                    <button class="btn " type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
  </div>
</nav>




<div  class="form-group col-md-12">

<!--
  <li id="nav-C-tab" data-toggle="tab"   href="#nav-C" role="tab" aria-controls="nav-C"></li>
-->
      <ul class="nav navbar-nav ">
        <li class="dropdown" >
          <a  class="dropdown-toggle  btn-bordered-primary" data-toggle="dropdown" style="color:#428bca; " >Select a receiver
            <span class="glyphicon  glyphicon-folder-open pull-right"></span></a>
          <ul class="dropdown-menu ">

            <li name="client" [ngModel]="selectclient" (change)='onChangeSelectedClient($event)' [ngModelOptions]="{standalone: true}">
              <option style=" font-size: 18px;"  selected="{{s.fullname}}" [value]="s.id" *ngFor="let s of listclient">{{s.fullname}}</option>
            </li >


            <li class="divider"></li>


          </ul>
        </li>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent1">
<!--
          <div class="tab-pane fade show active " id="nav-C" role="tabpanel" aria-labelledby="nav-C-tab">
-->


            <div class="card edit-parameters btn-bordered-primary"  style="background:#fff;color:#0f1113;width:100%;right: 14px">
              <div class="card-header" style="color:#428bca">
                <div class="form-group multiple-form-group input-group">
                  <div class="input-group-btn input-group-select">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      <span class="concept" for="country-select2">N° Project</span>
                    </button>

                  </div>
                  <select id="country-select2" class="form-control" >
                    <option></option>
                    <option>Project N°1</option>
                    <option>Project N°2</option>
                    <option>Project N°3</option>
                    <option>Project N°4</option>
                    <option>Project N°5</option>
                    <option>Project N°6</option>
                    <option>Project N°7</option>
                    <option>Project N°8</option>
                  </select>
                </div>
              </div>
              <div class="card-header" style="color:#428bca">
                <div class="form-group multiple-form-group input-group">
                  <div class="input-group-btn input-group-select">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                      <span class="concept" for="country-select" >Quotation</span>
                    </button>

                  </div>
                  <select id="country-select" class="form-control" >
                    <option></option>
                    <option>Quotation N°1</option>
                    <option>Quotation N°2</option>
                    <option>Quotation N°3</option>
                    <option>Quotation N°4</option>
                    <option>Quotation N°5</option>
                    <option>Quotation N°6</option>
                    <option>Quotation N°7</option>
                    <option>Quotation N°8</option>
                  </select>
                </div>
              </div>



              <div class="card-header" style="color:#428bca">
              <a routerLink="/ajouted" class="btn btn-primary btn-sm  pull-right"><b>+</b> Add new offer</a>
              </div>
              <div class="card-body ">

                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">N°Offre</th>
                    <th scope="col">Date</th>
                    <th scope="col">N° Quotation</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Project</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col" >Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  class="danger">
                    <th scope="row">1</th>
                    <td>OF1</td>
                    <td>11/03/2021</td>
                    <td>Quote1</td>
                    <td>Sagem</td>
                    <td>Injection</td>
                    <td>220$</td>
                    <td>Refused</td>
                    <td>
                      <a class='btn btn-success btn-xs' ><span class="glyphicon glyphicon-home"></span> </a>
                      <a class='btn btn-primary btn-xs' ><span class="glyphicon glyphicon-edit"></span> </a>
                      <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> </a>

                    </td>
                  </tr>
                  <tr >
                    <th scope="row">2</th>
                    <td>OF2</td>
                    <td>22/03/2021</td>
                    <td>Quote2</td>
                    <td>Sagem</td>
                    <td>Injection</td>
                    <td>180$</td>
                    <td>Finalized</td>
                    <td>
                      <a class='btn btn-success btn-xs' ><span class="glyphicon glyphicon-home"></span></a>
                      <a class='btn btn-primary btn-xs' ><span class="glyphicon glyphicon-edit"></span></a>
                      <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>

                    </td>

                  </tr>
                  <tr class="active">
                    <th scope="row">3</th>
                    <td>OF3</td>
                    <td>01/04/2021</td>
                    <td>Quote3</td>
                    <td>Sagem</td>
                    <td>Injection</td>
                    <td>120$</td>
                    <td>Provisional</td>
                    <td>
                      <a class='btn btn-success btn-xs' ><span class="glyphicon glyphicon-home"></span> </a>
                      <a class='btn btn-primary btn-xs' ><span class="glyphicon glyphicon-edit"></span></a>
                      <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> </a>

                    </td>
                  </tr>
                  <tr class="success">
                    <th scope="row">4</th>
                    <td>OF3</td>
                    <td>01/04/2021</td>
                    <td>Quote4</td>
                    <td>Sagem</td>
                    <td>Injection</td>
                    <td>120$</td>
                    <td>Signed</td>
                    <td>
                      <a class='btn btn-success btn-xs' ><span class="glyphicon glyphicon-home"></span> </a>
                      <a class='btn btn-primary btn-xs' ><span class="glyphicon glyphicon-edit"></span> </a>
                      <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> </a>
                    </td>
                  </tr>

                  </tbody>
                </table>



              </div>
            </div>
          </div>
<!--
        </div>
-->


      </ul>
</div>



