
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="btn-compose pull-left" style="float: left;margin-left: 0%;">
        <ol class="breadcrumb page-breadcrumb pull-left">
          <li><i class="fa fa-plus-circle"></i>&nbsp;<a class="parent-item">New Offer</a>&nbsp;
          </li>
        </ol>

      </div>
      <ul class="nav navbar-nav navbar-right" style="float: right;">
        <li>
          <div class="col-2 col-lg-12" >

          </div>

        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="col-xs-12 ">


  <div class="div-container">
    <div class="div-heading">
      <h3 class="text-left heading" style="float: left;margin-left: 2%;" >Recipient  </h3>

      <a class="btn btn-square-toround btn-xl btn-bordered-primary" style="float: left;margin-left: 1%;" data-toggle="modal" data-target="#floatLabelDemo-UP" > Select a recipient<i></i><span class="glyphicon glyphicon-chevron-down"></span></a>


    </div>
    <div class="div-content">
      <div style="border:1px solid #F0AD4E;border-left:4px solid #f0ad4e; padding:10px 16px;margin-bottom:30px;;margin-top:30px;border-radius:3px 6px 6px 3px">
        FOR THE DESIGNING PART<hr>
        This is just based on placeholder attribute of your input element.<br>
        Put the <kbd>label="..."</kbd> attribute insted of placeholder if the element does not support placeholder attribute.
      </div>
    </div>
  </div>
  <!-- Lable Animate Up Modal -->
  <div class="modal fade" id="floatLabelDemo-UP" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="gridSystemModalLabel">Float Label | Animate UP</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group float-label">
              <label class="label-AnimateUp"></label>
              <input type="email" class="form-control label-input" placeholder="Email">
            </div>
            <div class="form-group float-label">
              <label class="label-AnimateUp"></label>
              <input type="password" class="form-control label-input" placeholder="Password">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-bordered-primary">LogIn</button>
              <button type="button" class="btn btn-bordered-warning" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          By <kbd>V!j@Y</kbd>
        </div>
      </div>
    </div>
  </div>



</div>

