
  <div class="col-md-12">

              <div class="tab-content">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card card-topline-yellow">
                        <div class="card-head">
                          <header>
                            <h1> Managers List</h1>
                          </header>
                          <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh"
                               href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down"
                               href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times"
                               href="javascript:;"></a>
                          </div>
                        </div>
                        <div class="card-body ">
                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-6">
                              <div class="btn-group">
                                <a routerLink="/ajouteMag" id="addRow"
                                   class="btn btn-info">  <i class="fa fa-user-circle"></i>
                                  Add New <i class="fa fa-plus"></i>
                                </a>
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                              <div class="btn-group pull-right">
                                <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle"
                                   data-toggle="dropdown">Tools
                                  <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                  <li>
                                    <a href="javascript:;">
                                      <i class="fa fa-print"></i> Print </a>
                                  </li>
                                  <li>
                                    <a href="javascript:;">
                                      <i class="fa fa-file-pdf-o"></i> Save as
                                      PDF </a>
                                  </li>
                                  <li>
                                    <a href="javascript:;">
                                      <i class="fa fa-file-excel-o"></i>
                                      Export to Excel </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="table-scrollable">
                            <table
                              class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                              id="example4">
                              <thead>
                              <tr>
                                <th></th>
                                <th> Name </th>
                                <th> Designation </th>
                                <th> Mobile </th>
                                <th> Email </th>
                                <th> Address </th>
                                <th>Joining Date</th>
                                <th> Action  </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr class="odd gradeX">
                                <td class="patient-img">
                                  <img src="../assets/img/std/std1.jpg"
                                       alt="">
                                </td>
                                <td>Rajesh</td>
                                <td class="center">Clerk</td>
                                <td><a href="tel:4444565756">
                                  4444565756 </a></td>
                                <td><a href="mailto:shuxer@gmail.com">
                                  rajesh@gmail.com </a></td>
                                <td class="center">22,tilak appt. surat</td>
                                <td class="center">22 Feb 2000</td>
                                <td>

                                  <a routerLink="/manager"
                                     class="btn btn-success btn-xs">
                                    <i class="fa fa-home"></i>
                                  </a>
                                  <a routerLink="/editMag"
                                     class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                  </a>
                                  <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#remove">
                                    <i class="fa fa-trash-o "></i>
                                  </button>
                                  <div id="remove" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">

                                        <div class="modal-body">


                                          <div class="col-lg-12 text-center">
                                            <label class="content-header">Are you sure?</label>

                                            <div class="col-lg-12 text-center">
                                              <div class="col-lg-8">
                                                <br>
                                                <button type="button" class="mdl-button  btn-g" data-toggle="modal" data-target="#ok" >Yes, delete here</button>

                                                <div id="ok" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">

                                                      <div class="modal-body">

                                                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                                                          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                                          <span class="swal2-success-line-tip"></span>
                                                          <span class="swal2-success-line-long"></span>
                                                          <div class="swal2-success-ring"></div>
                                                          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                                          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                                        </div>
                                                        <div class="col-lg-12 text-center">
                                                          <label class="content-header">Deleted!</label>

                                                          <h6>Material has been deleted</h6>
                                                          <br>
                                                          <button type="button"
                                                                  class="mdl-button  btn-g">OK</button>
                                                        </div>
                                                      </div>

                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div>
                                              </div>
                                              <div class="col-lg-4">
                                                <br>
                                                <button type="button"
                                                        class="mdl-button btn-h ">Cancel</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                  </div>

                                </td>
                              </tr>

                              <tr class="odd gradeX">
                                <td class="patient-img">
                                  <img src="../assets/img/std/std10.jpg"
                                       alt="">
                                </td>
                                <td>Pooja Patel</td>
                                <td class="center">Librarian</td>
                                <td><a href="tel:444786876">
                                  444786876 </a></td>
                                <td><a href="mailto:shuxer@gmail.com">
                                  pooja@gmail.com </a></td>
                                <td class="center">22,tilak appt. surat</td>
                                <td class="center">27 Aug 2005</td>
                                <td>

                                  <a routerLink="/manager"
                                     class="btn btn-success btn-xs">
                                    <i class="fa fa-home"></i>
                                  </a>
                                  <a routerLink="/editMag"
                                     class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                  </a>

                                  <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#rem">
                                    <i class="fa fa-trash-o "></i>
                                  </button>
                                  <div id="rem" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">

                                        <div class="modal-body">


                                          <div class="col-lg-12 text-center">
                                            <label class="content-header">Are you sure?</label>

                                            <div class="col-lg-12 text-center">
                                              <div class="col-lg-8">
                                                <br>
                                                <button type="button" class="mdl-button  btn-g" data-toggle="modal" data-target="#okk" >Yes, delete here</button>

                                                <div id="okk" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">

                                                      <div class="modal-body">

                                                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                                                          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                                          <span class="swal2-success-line-tip"></span>
                                                          <span class="swal2-success-line-long"></span>
                                                          <div class="swal2-success-ring"></div>
                                                          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                                          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                                        </div>
                                                        <div class="col-lg-12 text-center">
                                                          <label class="content-header">Deleted!</label>

                                                          <h6>Material has been deleted</h6>
                                                          <br>
                                                          <button type="button"
                                                                  class="mdl-button  btn-g">OK</button>
                                                        </div>
                                                      </div>

                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div>
                                              </div>
                                              <div class="col-lg-4">
                                                <br>
                                                <button type="button"
                                                        class="mdl-button btn-h ">Cancel</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                  </div>
                                </td>
                              </tr>
                              <tr class="odd gradeX">
                                <td class="patient-img">
                                  <img src="../assets/img/std/std2.jpg"
                                       alt="">
                                </td>
                                <td>Sarah Smith</td>
                                <td class="center">Librarian</td>
                                <td><a href="tel:44455546456">
                                  44455546456 </a></td>
                                <td><a href="mailto:shuxer@gmail.com">
                                  sarah@gmail.com </a></td>
                                <td class="center">22,tilak appt. surat</td>
                                <td class="center">05 Jun 2011</td>
                                <td>

                                  <a routerLink="/manager"
                                     class="btn btn-success btn-xs">
                                    <i class="fa fa-home"></i>
                                  </a>
                                  <a routerLink="/editMag"
                                     class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                  </a>
                                  <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#ve">
                                    <i class="fa fa-trash-o "></i>
                                  </button>
                                  <div id="ve" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">

                                        <div class="modal-body">


                                          <div class="col-lg-12 text-center">
                                            <label class="content-header">Are you sure?</label>

                                            <div class="col-lg-12 text-center">
                                              <div class="col-lg-8">
                                                <br>
                                                <button type="button" class="mdl-button  btn-g" data-toggle="modal" data-target="#okh" >Yes, delete here</button>

                                                <div id="okh" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">

                                                      <div class="modal-body">

                                                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                                                          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                                          <span class="swal2-success-line-tip"></span>
                                                          <span class="swal2-success-line-long"></span>
                                                          <div class="swal2-success-ring"></div>
                                                          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                                          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                                        </div>
                                                        <div class="col-lg-12 text-center">
                                                          <label class="content-header">Deleted!</label>

                                                          <h6>Material has been deleted</h6>
                                                          <br>
                                                          <button type="button"
                                                                  class="mdl-button  btn-g">OK</button>
                                                        </div>
                                                      </div>

                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div>
                                              </div>
                                              <div class="col-lg-4">
                                                <br>
                                                <button type="button"
                                                        class="mdl-button btn-h ">Cancel</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                  </div>
                                </td>
                              </tr>

                              <tr class="odd gradeX">
                                <td class="patient-img">
                                  <img src="../assets/img/std/std3.jpg"
                                       alt="">
                                </td>
                                <td>John Deo</td>
                                <td class="center">Peon</td>
                                <td><a href="tel:444543564">
                                  444543564 </a></td>
                                <td><a href="mailto:shuxer@gmail.com">
                                  john@gmail.com </a></td>
                                <td class="center">22,tilak appt. surat</td>
                                <td class="center">15 Feb 2012</td>
                                <td>

                                  <a routerLink="/manager"
                                     class="btn btn-success btn-xs">
                                    <i class="fa fa-home"></i>
                                  </a>
                                  <a routerLink="/editMag"
                                     class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                  </a>
                                  <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#re">
                                    <i class="fa fa-trash-o "></i>
                                  </button>
                                  <div id="re" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">

                                        <div class="modal-body">


                                          <div class="col-lg-12 text-center">
                                            <label class="content-header">Are you sure?</label>

                                            <div class="col-lg-12 text-center">
                                              <div class="col-lg-8">
                                                <br>
                                                <button type="button" class="mdl-button  btn-g" data-toggle="modal" data-target="#okz" >Yes, delete here</button>

                                                <div id="okz" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">

                                                      <div class="modal-body">

                                                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                                                          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                                          <span class="swal2-success-line-tip"></span>
                                                          <span class="swal2-success-line-long"></span>
                                                          <div class="swal2-success-ring"></div>
                                                          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                                          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                                        </div>
                                                        <div class="col-lg-12 text-center">
                                                          <label class="content-header">Deleted!</label>

                                                          <h6>Material has been deleted</h6>
                                                          <br>
                                                          <button type="button"
                                                                  class="mdl-button  btn-g">OK</button>
                                                        </div>
                                                      </div>

                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div>
                                              </div>
                                              <div class="col-lg-4">
                                                <br>
                                                <button type="button"
                                                        class="mdl-button btn-h ">Cancel</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                  </div>
                                </td>
                              </tr>

                              <tr class="odd gradeX">
                                <td class="patient-img">
                                  <img src="../assets/img/std/std4.jpg"
                                       alt="">
                                </td>
                                <td>Jay Soni</td>
                                <td class="center">Purchase Officer</td>
                                <td><a href="tel:444543564">
                                  444543564 </a></td>
                                <td><a href="mailto:shuxer@gmail.com">
                                  kenh@gmail.com </a></td>
                                <td class="center">22,tilak appt. surat</td>
                                <td class="center">12 Nov 2012</td>
                                <td>

                                  <a routerLink="/manager"
                                     class="btn btn-success btn-xs">
                                    <i class="fa fa-home"></i>
                                  </a>
                                  <a routerLink="/editMag"
                                     class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                  </a>
                                  <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#rr">
                                    <i class="fa fa-trash-o "></i>
                                  </button>
                                  <div id="rr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">

                                        <div class="modal-body">


                                          <div class="col-lg-12 text-center">
                                            <label class="content-header">Are you sure?</label>

                                            <div class="col-lg-12 text-center">
                                              <div class="col-lg-8">
                                                <br>
                                                <button type="button" class="mdl-button  btn-g" data-toggle="modal" data-target="#okr" >Yes, delete here</button>

                                                <div id="okr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalGenericMessageLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">

                                                      <div class="modal-body">

                                                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                                                          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                                          <span class="swal2-success-line-tip"></span>
                                                          <span class="swal2-success-line-long"></span>
                                                          <div class="swal2-success-ring"></div>
                                                          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                                          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                                        </div>
                                                        <div class="col-lg-12 text-center">
                                                          <label class="content-header">Deleted!</label>

                                                          <h6>Material has been deleted</h6>
                                                          <br>
                                                          <button type="button"
                                                                  class="mdl-button  btn-g">OK</button>
                                                        </div>
                                                      </div>

                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div>
                                              </div>
                                              <div class="col-lg-4">
                                                <br>
                                                <button type="button"
                                                        class="mdl-button btn-h ">Cancel</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                  </div>

                                </td>
                              </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab2">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card card-topline-yellow">
                        <div class="card-body no-padding ">
                          <div class="doctor-profile">
                            <img src="../assets/img/std/std10.jpg" class="doctor-pic"
                                 alt="">
                            <div class="profile-usertitle">
                              <div class="doctor-name">Pooja Patel </div>
                              <div class="name-center"> Librarian </div>
                            </div>
                            <p>A-103, shyam gokul flats, Mahatma Road <br />Mumbai</p>
                            <div>
                              <p><i class="fa fa-phone"></i><a
                                href="tel:(123)456-7890"> (123)456-7890</a></p>
                            </div>
                            <div class="profile-userbuttons">
                              <a href="staff_profile.html"
                                 class="btn btn-circle deepPink-bgcolor btn-sm">Read
                                More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-topline-yellow">
                        <div class="card-body no-padding ">
                          <div class="doctor-profile">
                            <img src="../assets/img/std/std1.jpg" class="doctor-pic"
                                 alt="">
                            <div class="profile-usertitle">
                              <div class="doctor-name">Rajesh </div>
                              <div class="name-center"> Clerk </div>
                            </div>
                            <p>45, Krishna Tower, Near Bus Stop, Satellite, <br />Mumbai
                            </p>
                            <div>
                              <p><i class="fa fa-phone"></i><a
                                href="tel:(123)456-7890"> (123)456-7890</a></p>
                            </div>
                            <div class="profile-userbuttons">
                              <a href="staff_profile.html"
                                 class="btn btn-circle deepPink-bgcolor btn-sm">Read
                                More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-topline-yellow">
                        <div class="card-body no-padding ">
                          <div class="doctor-profile">
                            <img src="../assets/img/std/std2.jpg" class="doctor-pic"
                                 alt="">
                            <div class="profile-usertitle">
                              <div class="doctor-name">Sarah Smith </div>
                              <div class="name-center"> Librarian </div>
                            </div>
                            <p>456, Estern evenue, Courtage area, <br />New York</p>
                            <div>
                              <p><i class="fa fa-phone"></i><a
                                href="tel:(123)456-7890"> (123)456-7890</a></p>
                            </div>
                            <div class="profile-userbuttons">
                              <a href="staff_profile.html"
                                 class="btn btn-circle deepPink-bgcolor btn-sm">Read
                                More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card card-topline-yellow">
                        <div class="card-body no-padding ">
                          <div class="doctor-profile">
                            <img src="../assets/img/std/std3.jpg" class="doctor-pic"
                                 alt="">
                            <div class="profile-usertitle">
                              <div class="doctor-name">John Deo </div>
                              <div class="name-center"> Peon </div>
                            </div>
                            <p>A-103, shyam gokul flats, Mahatma Road <br />Mumbai</p>
                            <div>
                              <p><i class="fa fa-phone"></i><a
                                href="tel:(123)456-7890"> (123)456-7890</a></p>
                            </div>
                            <div class="profile-userbuttons">
                              <a href="staff_profile.html"
                                 class="btn btn-circle deepPink-bgcolor btn-sm">Read
                                More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-topline-yellow">
                        <div class="card-body no-padding ">
                          <div class="doctor-profile">
                            <img src="../assets/img/std/std4.jpg" class="doctor-pic"
                                 alt="">
                            <div class="profile-usertitle">
                              <div class="doctor-name">Jay Soni </div>
                              <div class="name-center"> Purchase Officer </div>
                            </div>
                            <p>45, Krishna Tower, Near Bus Stop, Satellite, <br />Mumbai
                            </p>
                            <div>
                              <p><i class="fa fa-phone"></i><a
                                href="tel:(123)456-7890"> (123)456-7890</a></p>
                            </div>
                            <div class="profile-userbuttons">
                              <a href="staff_profile.html"
                                 class="btn btn-circle deepPink-bgcolor btn-sm">Read
                                More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-topline-yellow">
                        <div class="card-body no-padding ">
                          <div class="doctor-profile">
                            <img src="../assets/img/std/std5.jpg" class="doctor-pic"
                                 alt="">
                            <div class="profile-usertitle">
                              <div class="doctor-name">Jacob Ryan </div>
                              <div class="name-center"> Receptionist </div>
                            </div>
                            <p>456, Estern evenue, Courtage area, <br />New York</p>
                            <div>
                              <p><i class="fa fa-phone"></i><a
                                href="tel:(123)456-7890"> (123)456-7890</a></p>
                            </div>
                            <div class="profile-userbuttons">
                              <a href="staff_profile.html"
                                 class="btn btn-circle deepPink-bgcolor btn-sm">Read
                                More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>


<!-- start js include path -->
<script src="../../assets/plugins/jquery/jquery.min.js"></script>
<script src="../../assets/plugins/popper/popper.js"></script>
<script src="../../assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
<script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- bootstrap -->
<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- data tables -->
<script src="../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
<script src="../../assets/js/pages/table/table_data.js"></script>
<!-- Common js-->
<script src="../../assets/js/app.js"></script>
<script src="../../assets/js/layout.js"></script>
<script src="../../assets/js/theme-color.js"></script>
<!-- Material -->
<script src="../../assets/plugins/material/material.min.js"></script>
